<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 py-5 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <%= link_to root_path do%>  
          <span class="sr-only">Smined</span>
          <%# <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt=""> %>
        <svg viewBox="version="1.1 id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">  <image id="image0" width="60" height="60" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsCAYAAAB5fY51AAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAB7
/ElEQVR42uydd5xkVZm/n/fcSh1nOkyEIQeRKAhmEQOuYV0TrD91xbDq6oqEmWGAAYYZsgygoqgY
VnQNC4txzREjGAFFgihhmNg5d1Xde76/P+6t6h6SE3q6qnvu42dkuqeq7qlzz3nvOe953+8LKSkp
KTMEq3UDUmqLTjoJfn0nvSefiG/K4jIGAiQwgXdghpmPX4+Bd4RNY825zc058wYeqZVsFIRzfClq
If4EAKPAaFAM+jPDmaICGZghReVsrt81jGIuQhgmA4QMwFX/7soG4xHRwDiukKHj2mtr3WUpNSQ1
WLsBvZevQBnDxiMUgSRMiUGIoNRcYMGKS+haecbiIOcWGSyU10IzdShybThrNPNtQIfkGmVqATIm
c5MuY4IAlGHCYIHhTRZu9TsQphJQNPl+zPqQjRgakNEFbljmN3psY1C0jYVfDW4c/6f2kOEyMkMG
5oRFRlQywpIIMsb8K6+sdVen7GJSgzWL2Pze9xL9dYjMkXNxzVmIwMzAGQo9hT2agmLX+N5e7OW8
30PGEhfZfJk6ZbQCjWY0A42IJowCogCWxVRA5OMFUjxwZNrq+jbp/6vosa+Lf28Yqry8iCgDRYwx
sBJoRDBishHQCGLQRK+wLcI2uEz0ECW3obwleDC3TziuYvyxHoMgJPQBkXcETixcvbbWtyZlikgN
1gxl87JlmBk+hGyLBwwDLGNk21sY6+ldYGW3xJwtltlCM+ZD/EewwKR5MhaYaAOLN2vEO0Eg+SH5
b2x1qi8wTMnldgxJGEhmW18n+XvyiwmjaJgq77M+QbeZNiHrlthkxhZDWxCbvWwjmdJDHUF+Q3/o
kQx5AcK7+DM7V19V69uXsoOkBmuGoOOP576PnsOi//o6YXMjwpCH/AJPaZO1mLlOnDqQOuVZrAwH
4jnYjP3A9pWptbIpiw1BbASUjAATO2eEdumXR6q2TYndtHgTSmzaTBoTPCDsAczfg+xeZ7Ye0Y1X
r7y6W4JC/xAl5Azk8cNlSj9aR+7Zi5h/3XW1/pYp20B9DtAU+k47DQAbCwnnNeCc8IUswwvnMefh
DY3CtcirxYtFzukwsCPNOAJ0uGTNmuRdsmSFJJMMm233XJr0tSyxbhg4VER2l6Q/AXfIuNN5e8gH
NiIfDc19zl7Dw795BIXJCnUoC1nRdsUVtf5OKU/AbBu8M5ruK86Cp2TQnWWsLAzh923C/jqWsRxZ
NzoWELgFymWfIex5iOMxHSKr7KugsoeziR93x3scbyyr67LEmEkge1iOW5B+Rin6mTPbbHlXkqfc
tnpV2Hf+GpTxmANcbOjbz7u61t8nJSFT6wakPAmRyN7SlQ/3aHoe4iW+Mf8iicMMcgDEEQiTPUAT
PK4HfDfjsYtJYSwB3gy8yfIZj/QXef0C7Lv9p1/2MyIbsHRW1C2794CuA/ThU7H3n0rfhZ/Ay7BQ
lFsyjW7U/5OhlznT84XNE+TNyMehA1BZUVlsterX/1QvSJKZxREViQ8v/n0ElGSUTdZtXreS0XfI
+m/7kUyvZYSZo2luE8XRIq3nXlbrb7Jbkw7yGtBz0VkTP0QR5WJAIR8t9N5OwDhBxtMkOoEOM1pi
i0QcCmAgTcy3lB1i0pZxohstPiIdwegFevHcIfi5C9z3SmOlddlCFm9R/FqMzlXpVnG6SQf9NLHu
6jPY8+Zmul42QhAaREBzvkFjpec6dLzgKGT7g/bCaKy8T8kKyuLj/fR+7SqEZIm3fiJsrAhaZ9gD
wJ0y/dy78BcuyvSYN3zZKA5Crok0aHWaSCfALmbTqmWUgEaJjDc2HzDkOh9oPhxvRxHwNMExJp4O
FCoxRyhOYEk+Ir1H040m77fj8C8gxLgD+J15+715u6O42d1e2Ltc8iUwAjBPexrjtUtJJ8MuoHvV
0okx742CM4ohHWR0II6nSbzQvL0AU2dsn6oe8sd3oKfUjnjlBXFGZWX1NYb4MfAjzP/RTHeHps1B
mIE4QgKAjovTCPupJp0cU0j3uWdgXijjsMAR4l3GW6ec7WnSiZi9EeNwCcxik2bayajxlOkjOdzY
egGm+5H+B9x3FOl+QuuzrEoYuEKJaEsnHdesSjfzU0TajVNA17nL8REEWU9w0Vr8yqWBstYIegqy
t5nZGzC1VbJO4kVVOoRnMBWnPZWFF9IQ3r5p0mfN9CvMim2rrwp7Vq7AMuPgM3RcnG4Xdxa38x+R
UkUiWnF6I46XAzchfoHxboy58bMh+ZPaqpnORJTbxK1sJuD/EfBN4CfAm/uv+M8myllc02it2ztr
SGfODtK7aintq6+i94KlCGOsK1ModIavNad3CJ5uUAByVR+VFKftpSur2Ud1q1gNjQiJwyP+SsR/
UfRfJO/6LRPf+vZVqW9rR0knz3bSd/FSXMYTlRzyhoVqIOANwl4nOMpgAbZVBoFikYHUUM16qsGp
E79B2oy4y7Bvuqy+7CPbbM6Sf4SOC9JwiO0hnUTbyIZVq1gU/J1eLYQQXEvU5Efd6028RPAMTAdU
XbFp5PnuTjwUksDUWD9Mj2B2G9iPLOBmX9QWy4BrHUejuTRfcRtJJ9U20Hf+snjsBSGRNTY4FZ+H
9E/eeIWZHQSJorClYQkpWxNnJSSBEbH9Wg98i8i+q0A/tBJDCkRH8S9sbDiOxatX17rJdU06uZ6A
/jWnMveCa+lf816iqJHcmM8XC+5AHC8y8SakY3HGpOCE3VUZIWXbmNBeFSC715w+h/RDX3J/zmTC
0SiTAzydqY/rCUkn2KN44JRT2PvEI9nyx7+TbSxQKGx0Y+VF7S7khXL6DxknxK+shEGn27+U7WBS
LJcBeH4j2Sdkwfdc1m8hVJlshM+GWDlD53nX1LrFdUUa1jCJrpVLybW3MvjgFhZceQaIfLnc/jQT
n/YB/y3jhLi6i6lqoVJjlbI9TCh0STLJ2XHm9GlH9Hk8JzivLNmQYKQBZ6J7+aoJ2eqU1GA9Gl8s
kynk2PD+ta3Aud7nvgf8M5CNX6HUQqVMOTJOwOtLMj5COZhnxVxqqB6H1GARyxFXtBCGBzLBeN/I
vzS0N/4Qx+nCOmLl80rxhUkSlikpO4yZWZyhJavo06tdxpsIg5/6hvF/z80dz5Er0fPhU+meLEm0
G7NbT7ze1cviFXrkCedkcf3RUXJ6l0kvx9nekCTux/pTpCHqKbuMSfI2yQHOI6Cfy+wjhcGhX5Wa
mjCJtot2b5/WbjkB9Yl38eDvF7Pn4ZsY6mom0xI0lIfDN4C9EXgWqGmSQl4aqpAyPSQRxrH1ArDQ
TL816UtBsfw/YT67paGxkSiKRQRbdkP1091uInZdtBwrRPjhABUDstnyoZi9TsZbZdq3Uq4gCaza
7fonpT6YSI8QiA1IX8bx5fGR8d8Wmgo455BE+6rdK6F6t5qQPauXIiDjPaVcppAN/XE+4j3AyRhO
E4pHu1W/pNQpSirOWjUj9YfO3FUy/2tFNuDCkOLieSy48fvYLbfUurXTwm7hdNfrX8+Dn74CvOjY
/ypC5+a70L/ae/s8zt4gh4vL9qXGKqWOsNgxH+vYGMhe7L3/orzejGnPuZd8kGBohIHDmui65PRa
t3Z6uqTWDdiVdF98Bgbk+wcYWrQn2bERiDjIxHsRp6lafDM1VCl1TiWxWpWMVW5y5XBV72teevce
19zE8IFzcWVH+6Wze4s4q1dYsa4aZIbLRPksVtJLkX0aOK3WbUtJ2S4e6049yWezN8/59o9el7/n
5ciJ3SFsa9auKvpWL6+WP87etRelQx4+E/EumQ5E5mLXQCU0L3Wup8wAYkc8JFFbgEzaZJ6PMRx9
UC2ZIYJ4KHesmp2yNbNyonavXg7E9zebcQt9OTpX2OtkLLZE6yM1UikzGSXJ1HGSmHpN9nWfsWss
0p+aHuli0/MOZ+9v3YbddFOtmzqlzKotoYAtH74YK4cEUQRmx/nQrxX2dtDipH5WaqxSZjwGZrJK
RZ92GW80r4tNekXP0QfQ9GAX3HQTfafNLu/HrJm4664+gw7bj5HiJrK3/t6FRx32IuA0E6+oKuql
ygops43YGQ+VWrvwG5OuzDwy8rVwnzmh2+RRS0DbFVfUuqVTwqyYvBtXLWWw2bOwx4hsrKBMw0sV
uLNNemZSUa6irjArvm9KymOYnNoDD1uos23c/i+aEw7ZcB4youOSD9S6lTvNjJ7AAxfFvqpIIkCM
mhpykZ0MtkrSvlYt/jezv2dKyrZRCdgC84yYt+WE7n8yTaXecjkLgeiY4eKAM3Yi91y0vNr44fEI
cq7QFLIC43Q5za2mkKak7E5MZOubSeDtUoXuWjybLB/FlalhxtZInMFOd6uWhetozjQ1i4/idJaM
ubVuWUpKPSAMnM51+egq1+j3m3h8z9yIrRm5Auk7d1lcDr7oidqyc914+XpJL8doSp3rKSkkPi0q
ydORiW/7UGeR5R4Ac0bHDEycnnErrO6VZyIvypkiyBbZSOmTkl6BWWKslBqrlJSkwJgwgQUy/skC
uwbH05wFgNGbxCvOJGaUwepbsxwXGMGiPMF4sL9v0OU4XiNoTBxWSiVhUlIqxH4sxdHSWRwvNdka
jGPxJcDTu3pprRu5XcwYg9W98gwUekYe6SbqLR5qGc6V8RaZBWbJymqGbnFTUnYZZmaxFEm885C9
UtL5uOyzGjqGTBH0nL+s1q3cZmaEweo7dznOOzJz8zTt1XkoxlKcvT2u7wakK6uUlCfGiFVqMAkh
6Z8RK0e7Wp7RteYAMOhZPTOMVl1P8p5EeN/KEAZFgvFgf7Kci7O3V/1VkCqDpqRsM0pquZrh9TXE
pTbGb2kxDKO9zpOm63aiD1y0nKjSwGGB2SJldbmMt8iRONdTQ5WSsoNUknpuxtnFkm53E3UMaKvT
ANNMrRuwLURt2bk2Wvow8BpcaqNSUqYEAzyvswhHxp2PdFe9x2jVpQ9r46qlRBLD4xG5jDW58fL1
GC+XEQiSOKt0dZWSssMomUlmyPgXi3SZmfZXGRRC78r6PD2sO4O17uozGGz2BAhyrlAs+g/HQaHW
iKVxVikpU4KZmUBxZKkTeqkirlBZC8pNAT6ArjX154ivK4MloMP2Y2GPMWpqaApZIekNcQR7GmeV
kjKlxJWnY2Eas5zgny1nq1VWa2PRY8DQqvpaadWVwer68MWMFDcR2VghF9nJGKcLa5x0Ipgaq5SU
qSRJ30lkTXIye3su0rvChqA5Cj3lP67jgVNOqXUrq9SNwepevZxgSw/ZW3/vlGl4KdgqOc3FlPqs
UlJ2KZaol4IcWaQ1ofSqoFQuBM/al4VHPb1a/aDW1IXB6ktympwzwqMOe5ECd7akfQ2TYanPKiVl
V2NYUu4OjzV44yplMy9pPftyBjc8SPeyC2vdwqSZNaT74jMAcD4g8oDZcSZdYHEyc7oFnF08RkMj
lpvb+mm0dS3b2CsMVIZDOiZ2MbHIAyS6y7eb8yv8aMP380f+hfJf96u5wkNNV1gGlcBbshm3MJDe
b+IVSShuyixC1RwqVX/zj95RxbbxLSk7jW3996Mk+09rHD+29Nf96qL7a/a00utfz8g+rWSGy5T7
jqX8lIc+LOztmJpEIk6dMjOp1vxgolAREFeCVITsb5g2mVkPXoMSUVxGAWdYI0Z7/E4WYGoC5kjW
WVG8rtTqTt4DKFl7pSuwKSPRiDdvgD7l8/4cNx50u1IAULOiFjW7uQ9efwX5wRGiXJaG3oEzEUtB
ixVvEdKBN9NIBOPiv1fMioHpPsnuRPwFdL+ZbZRnBKcxZzauSGX5eAMizMwsY6ZcXMiKBkwZQU5Y
AdFink5M83EsECw2zx6YLZZp8cRCbOstZfzR6XjaXgQyYUh9JvvY0DGbV7pvNJBxOcbLQ+x7ww3T
3qaapOb0rF4Kj2xGDUauTy8l494lYzGQqoXOPKRY27JyjFuW2R8N7jR0t+BveB5SiXUN+zb0jG8c
qz6KqlsMm/Tfyp9H7z8ElvHYbYWAQ8db1chcRLvJ2mVqA5snsRCx0PBLMFsMtidGW6UQpSo+sWTF
Z0oPdJ6MWEsLDNoEb2r+3YK/NRzV8JloPKKjfT5Mv72a/pvVdc6ZWBY6Vn+QntVnHITsU6DnmOFS
p+oMICmXXqnOQpyDHiL9HbjH4E/e7NZMYL8vjQQbXS7CEIrAhyHmHPMuu3q7L9t91lngwQJBJoJs
sgz3ljjuI5pbuxnsWrAwyIT7egv2Mmd7C+0n2ANYYNhCTPPB8hO+tMSpnz4oH5/KylmAdBc+/Pcg
13SrL49hLqB99fQmSU/rDdIn3kXPw3kyTTnCcc03Z+cCp6U67DOA2KdBRcUyoV9mXQZ/xOu7jITf
CRe0bMqMjOGcIzd3iO4/PIW9XvFL7ORdVzJ9w6pVjGWbaR7vI1AJ5yKEwwyiuRlYPzbfGrNPM2dH
GP5wYQeBzRXMNdQG5GJfWLwOM9mkPW3KJH34EPQjk71V2XCThRkIRPv52/8A2lGm9YY88K4LaWof
Au8LLmevsYx9Me6PdGTULZVzblQpRyvBCKIX6auWcZ9x3SN3+vZGKEWce+nVfOykk3D/+7+1bjl9
p52GG4koz8tAJsAMLGv85vy1POPc5c/wgY4HHY+zQ2S0mZSLo72VgdhexZEXquwqd2MmLa3F2Wb6
uCIGsozQcvHHp23+TttN6F29jJb2YXrWzSXfUH6+l31Ojr3jRqQDoq6oJm5SPXuLXT8C8YDMro+G
7dPzVw12dV/eimt2EImO8+u7svCW976X8Q39FJa0k20t4B2QMRS4OeajYy3SiZK9UI6jqw6veOVl
VQe+7d4HQrFkKSVzennjktJPxjbm1HbeVdPWIdMahzXU1UwuXz7Ui/dgsbFKqUsek4lhnvskliob
Pdfg6rGHg67eq5qxbK2bupNEYsvS1w4AP8V0AZ4XU7Kj8aw0+AXV0qPVrql1i2uNYeTBPjD6QHBE
lGtk3a/+bxovPg30nXYazMkQtGQawqFoudAqOdxEWE26uqobJtezi7MP/mzGZxA/iLwezI/kh0ut
RaJhhy9CUID5V9a3rO6T0XPRWUnQWIRFyYD8RTM8c2Susr7VIrcH8Cwz/hmn53vMTRitxNu1u3g0
qiq/scMZ6UN4fxW4deYDOi7Z9SvsaeloAd1XnY0bLL8N7HzQvrJkgZ1SLyRKY/FG0GSPmOd6nG6x
rN0ejjHosqLcMk5QzDJv5Qdr3d4pp+essyA0yHiUE+aEn1sm2FJos5zfS6aDvHiWmZ2AOAqLA5XY
jQ6NNKmOgkkDeFs58IWnX9f+L7ep9ZFHcDftusMV2MUGq3t1XEQCL8xzFE5XyvTi3ekG1z1xFBXV
Za4YkPiWoW+6It/2TQxaZGTyEEWi7fyZVy14R+ldsQJCQ4UIC0SmYIwPRYuDnB1lEUfKcSzYczDN
r5wy7i5Bz5VAeOA3eF0QNuW+N7qolX1POWeXXneXdey6q88gO5bBB54SrUHz2NC1Bm+JUy3SeKua
k+x+ZJXTP40Bt5v4jo/clwgz9zsXErgS3mdpu6w+ixJMF10rlyIvzBkua2hOFrpKh7mAl8jZszGO
BB2gybsGSTZb3R2TMhtM+rwrj57uLd8r7zCMjst2zYNtl3Vm9I5zGFoYEpSMUpNejfwHBXtbmu9V
a5TYqmSwGUgbTHwfr0+qPfcrekP+fMmVPOUdVzH/U8vSjfsk+k47DUIPHnxnDh9mcK1RK0VejfQ6
wZHAHgYZ2awPSk28WnoE9EHmcFX2x/cTzZvHnM98epec6O2STuw7dzmlgmf+BWvZeMnSOYWy/VDY
02OBkLQ8V82oJNFUgtRh3Dz3Y9FFg3s+eHPrI3tHuW/0Ej6/jbYPfajWra17dONJrPvxMTTt0Q1l
seWOHpt3WNsrzHGmnDvCsLlAkOi1JPZrdo39iTMa3a6S3qC5LffaeJHyvnux6C3vnfLr7bLO67lg
GYg8cC6O0zFad2XHpWwb8fJWGFYWfCYcK13Sfuge6x750V9qksw6m9CNJ/Hwj45m8bP/HAw8uPA1
5m0l6AiZzfridEJjJn2zb9l//GvLF77K/P9YsUuMy5R/pgT95y4l6M26qCM8Slm+L9QRJ1Gm28Ea
IsXlBjBxN8ZywS/aL1w7MHDFOYwN9pEtFOi8IF1Z7QjdK8+EIEJhhqiYJdNazrpMMEfF6N8wTsVs
30owwKxaZSmJgI+lzDcT8X4L3c0+66OoELJg5dSOpynfZva85xIiy1FeUuzwWVslo51qqnxqrKYd
SRKVvPtBzD4qs9c7738gs4Guc0+naXEb4+vHU2O1E3RecjXth21gtKeTjiPWxSvYoXK3eX3SjDeD
PmWKU8WByUqGMxuLa+/Fbgabp8BWlpuL7flSI+Xc+NRfbio/bNOVy8gNiWzJ58s59y/e2X8DWSay
kFKDNU1UohXiYyqBuAPsepl93Y379eSJJacEbat3n1CF6aD38hUAaO9m7J5+/IBhbbYPXq+S9G7M
nlpxIyaZPjN+XiTLdxMWAWeL4GOO8kjgysy94Nopu86U6mEtuA36DzJKheAgxH+AshDn95OurqYN
Vc5u4h8Avm3GJ63Md31G46XDcmTWRwB0rqjv/L+ZSPvZE2qcvWuWQbvDReUHR4tNHy/kxjZg+jfE
q6hUWJkFp4iVChYmHPBeZ8UfjRf3/GNT41+n9jpT9UE9Z50FBY8CNSB7N3BNVYZk5j9AZgpKCjtU
xFK65P13MLvajY7doaYmkKdjN11R6cOnwqmfpHz1uxkazKGokmgTCz6Z88Sp+C7J/FY1kn3eTvTZ
hlWrmBttYDSYC5FwWX8E4izJ/llYK9VTxJk9UWKF0koYsi4zi66Rgi5ZQMeqqUnfmrIO6jv1HHxn
EQvdiTJdnEQBJzVPZvbTY4YwIXkRPygeBL4QNgaXZwej4XBOlqDo615RYVd0Stf7LiOY3wXeIUGp
ZORzNMhHTeasSVjeUMacDwCPgqI8oxG+O2OZUmSxIZu3eucmXc/qpRgREJDL9rYWx9ovkbN/xZgH
syLkJ/GVgsm6Md7qovBbIqDtnoexKUjbmZLO6V1zBhrLwFi2kZbSRZjOlJvha9yZRTxQ4sWVN+lu
Ip0X5YOvWeQp9BpDS8Si5bvHymrTlcsAGJ7vmPtwGcby2NwRNFzIucAXAufnhGHwTHk9zYzDhe1l
qAOnRqCM3MOIPwl9BePXHeVv9vS4fyEou50uvtC/5lTmXnAtveefRvNZmxlcu+cqM70XMX+W1DNI
PBEyM/s0cLkCd/+t572ZV9oRO/3hU7clvGA5iFNwWinTgam5ml6SoFzM7Pty9n6DewV0XDBzlRSm
pF8mVliL5N3LzPQ6xAswGp5oOTOhxSCQXevNrgYe3NkV1qPpv+xshv78IE0H7vFeiVUymz9bZk1s
dX3RvD+9NLf54wt+fW89rbBOh2yxkWLjJyV7o0ypwP90MRG9Xjb0aQu4qJRv35Ad6q0Wc2i/aPdY
WfWceip88j703oOhKUNh2Bhv03MttLeBvUCOeYbyiNzWpXQmIqSASUUqiPXiPSva1jz9yv7lf1Tb
lVNT3qr7rLOwjINsGdeczTES/puktd5srk00acbOn8oDVGb/K7PVeP/n4Qe62Pdzn9upz92pOKyu
c5fTde5yFGag2PivguNieZLUWO1yYuXH2FjJtuB1vkrRqrCfDdliH2QcyrjdwljppJO4/4YPYgUH
5xxBx1UfAvH6UjM3WmSfwjgZYz9Qi2Q5mVUqK1ROheIoIkv+KP5fHGYrZBzat+oP+6rR71Q7J9P5
gQ8QtECuvZlooFjyzv5H4mzzeBEnpc/kWC1LcpFMvMSF/pX5pgL73LBqCj53J9i8YjkA5aFMoaGz
dBPGK5NGpgZrV6FKUlrVuflH8/4jjJW/Yu0N/X5kHCtkad9NZGB6Vp+BhSFhoYnGuzdni/t2vMyc
XiN4OnAIWDBRbHW7H6SVAJEvmrFGcO9Ul2rvv+xsRgXNpTJFT0cApwvOi7W2ZnZB4STMAdB3vUXv
x9xfo8Z4jbRw+Y6pf+xwHFb3yjPBPEgEHXqtjKcBadHKXUr1qVU5fP0p4trsQ5u/UTx47zB7ygso
X/I15l/34Vo3dJey5Zwz491uJBQ5opZSLjOUeUZp3/aX4XiJzJ4OlR1exVCZ7cS47DXnu/BTP6zn
nnM5m1YtoxR4otFCT9Bc/DihewbwIpCbybsVq+4AOMYpeGNQYnXn7Tv3mTu+JYyEu2gVlHyjOb3D
sAVx9NiMXcXWN4qXVoYM5M3bT4jsgiATfaW85/xQzU207nEi86+7rtYt3XVdcNJJ3P8/a2kcGcLy
Yt4Vh4C3A91o09vl3KVydo5MT5eSGI9KFYkdnfATtazXjw9mey3YNXZj4eq1OIxsc4mRhtb1ynCJ
YJ0lsrxohk6qiUPPeWAvC5ts8ZbjRPcx4uGrT9+hj9whg9W9ailkDZ23KiDvXiR4OkYm3grO6DiS
OiU5JI6d6EVDP7TITpXp51Epg4IM805bOTMfw9tIz8ozGViykNZ7NtN74F6Y0dFz/j0n4HSFyV0r
s+dWDnsqvih2cjsVr2bVh3gw1xTt0u/XfsHVRL1tNPQW8b1zbzGvrwsNzvSCUlYJJTXtb2W9vaXP
kSkaSz47f4c+b4cMlhAWGMpYo2XsfWYUtDuJ8U8vSSamABUNvunH/Ntkusv5OA+i46LZG7rgX/96
HvzMFWDQmBkj3z0ctK7bvKdkyyxj/2fOXiNTxrSTq6mtUXVVI35tXn+zSLSdt2v9gvOuOQ9rKjLv
mvNQ3tYauj856J2586pSuEF0yuuN/fOiprY1o2x6Y9cObcZ2eEtYjiIHdrCJ48Fyte6X2UulCLHK
oI+Fudw71ZrbkBwS1rpx09oNg9bSUJ5TeHVUyP0Y2XKwRpLemdprbdWvt6jo79XUHRA+OT5+NrmS
1pnsp0D/NF15lyLAnC0sjNrJvWsas/nijpme7X7X5ktOw2RklelEvF3VynQzdJ9dr8RBC5Us5lHM
zouy4apMcaDfihFKyuW1XTx7V1e9a85geP9OCn3DYDrcGoLrLXA3yGx/sEBUiiFM7UGPzExmZl69
SL+1hmBwOtxIlZ2fc+ANPHxNcG/cqBn8dEoks5C1EPIu1zQcaCzLxtd/dLs/arsNVjlXplDMo6xf
YmZvUEWyegbvs+uOpCSJDDPPkMFZLuuuz483DIb5RsgFdF5yDR2XXF3rlu6Crw4bb/5sPDvLDh3Q
F+QGR99N4D4NvA6zJsxcNWGYnTr9e7wGTBgGx1cI7G9x/Oj0jO+OC+JtZ3mkSOeaq35ungdsUg3q
GclE52XkOKLc3/DsiNFs9pDtV3LYrk5Yd/UZNAw4zNOB452YXQaV0KDUYk0FmpQAa55evFYHuBvK
vjzg2gJ8KZqVNQEhLqtlDw3hD2iFuXmsd/hwZXgrxmsw2zdRotCkgTb1irkkScjxCvdl+eLwD0u5
Rt9+8QentS8k0X/p2fhiuBqzpTI1zWSbVTESICzic4jlYFuQ264CrNu1wtrz5mYykYHjQLA3Vvwo
M7gb64uKsZIwaaO8LqGvdH3U6AYawwzZcm72GqtVyyAb4Z+aJ9NPzvUPvlYZLsDsfWJCXjgJpKz8
mWoSURkzYT9wZX/HyNwOv/H5h017fzz41rcSFcvI8TeZ1m1lpmciFWMlE85ehdkBQcc42+sb3C6D
1fWyETbvM+wwnoZxeBwSZGmp+algIsgOg4fkubb134682uYVxv13H6ZULNN67mW1buWU88App1C+
4Uq8RI9vgXKwXzg3/HcF7kocr5eRM0PV4M9dSCKaicEIjuvKTbn+zFiRp37ye9PeL/vecAMWK55s
NOieuQ6sCeIQB5lMczFeFPU0dFrg4xzQbWSbI917LloOoafzkabDBS+Mz1qrEtWpwdoJKtvAeMmv
BxGfKDB8+eBHf01f7xxaD507K8tuDVy0nGi8xNimPsKQTHt26GlI75Lx7xM1/VSJUt/VJK57hQa/
nfPQlu/1PHXv4i/PeyuvsqfWpH9i+2x9kgZnvuoMSchJJUlDrzbTD8hYd/jnvm3+iO1IzbFK9PBR
wPGzscZaLVAiux6fQtk64KNNC+asfeSuCEWiaf88C1Z/rNbNnFK6V8d6VaHE329bT2G4xy068ejX
Ypwr48iqdZqu0xxJE5NJ3Wa6cnD/BWFueIR/PnnnE3Z3ol2Y+aKw0ow3Vo/5bna0vA52i5tvDY5q
h59s29u2a0tozQ0NwNOMWCExZedJAgMxsUleVzWHm9cO9HksCjEf1rp5uxQHPPVF+zXt8U/HXG7G
x5OqyZD0yXTO0WTLNQ72q8HvvfjbYU9rlDvmzzXtH0WGLwUZZEFF8mbmk8TjOiDgeD04eDBN275u
2iaDpQ+dClGERsafKzhmqyun7BjVyE8Z0CdnF/oGXTea6+S3X7ofNz5EUBpm8erVtW7p1H3l5z+f
9R+7gszACEQiRIePjfkbJf4Tow2pUruyunGYloZVKiigB3Bc3vSCn+Nahhn74fFTIjq34x1mGDQj
GmvXiKkldmElzyPjxZaxIy1jdK1Zuk3v3yaDZaedSrkY4NDxhj091hNK7dWOosoWxDB5G7ZI51iZ
LwSDlNcf+DSOfv3+7HvDDbOqEnP3WWcxmN+LXNcAg8c/HROnmLdPYzpRqFHUSB64UrYD+g19yw1F
vw0WdWFNY7R/8Lya9pkFEWSiBZg6Zs2WMBn3SAhb4o2j++eWMtrGFeQ2Gay+Cz9BIR8tVOy/KiTa
4bOkB6ebJHhdgPcjhs53Rf8lNQfDbnCMhevumlWrKoDulWchwL9gPm6wNK/5d3+5EMfZJo41swyW
PHVrMKaSOBIwfuWc+4SaA3zfHCjmcVNeZnjb6TlnKYpP4PfH2Gu27WfM4qRoiWNae3PHBkXwxx//
D9/3pJvH7lNPxQAfgZmdgLG/rLpsTw3W9lKNsBXAiNA1OYs+OZZxI3M2jDCWzc26OoG9q5Yh72lc
MMZYf+NTadS7ZPY2jFZRVVeoTUxkZaUre9jgq+VS+f55z38u9k8n1brbIATbM0Bb/EEY7bPilHBr
KtJ5R4Ge6xvzv/7bRe+G59/ypG960mdIcGsf7tY+aArAdAKwV9Jps6rnpoVKnFX80zDmv1SeV76I
UnYk1yzK7flZE7pQ8RZsfs9lyDyZnAVjfQ3PxnQuTqfJaI0PGmokTreVvDQg/teX7etBJsfQH/5Q
076rVPxRg/AbwoOF9ktSg2bZGotKGHAnxpHzzrmUzm/98h++5UlXWNELOwDw60eagvbC0zAaZ5+h
nwZUUQo1YokY+16pofGMzMBgabx5dpWLX3f1GXDIway7+l6CLQMoW86FJXsRjnOB507yVdVMjmiS
ZDLAL835r6F8V7hpLh3Xr6hp/y1YfgAAToayvBLYf7ZKNyWucMPYr2fN0mf6hvytOile3T7RYccT
rrD6LzsbGjLQmME68yfK6Ix9V7NtN73rmdBgF+b5oR8P358ZGR+2Ug7n3axJt+m65HR8tszAG//M
nl+dQ8PzfmYWZt4qdJ2M58qZKgFn1OqxN3Eya4jQ0NWDX235uWsZZ/4namushlYtpevS+xlatZQt
BzoH9kpkS2bxgXwc/Sb2Ns8JmIObvhf/eQKedEtoilcFFtnLER2zz8ZPD8kDHcQPMFvlGjIbZmtf
WhQQDOe595TezNitz7wG7y7FbJ9at2srKvPfcRXOft3ympG62TVkxuL/zr+PN6PYZ1wvbdtlmC0G
e97wkvnw4ufEf56AJzRYljXKPWNk5+QKzuz5Bi2a9nC+mY9UXdD/Bse1UaDfK/JYJCwUnbOkdHzf
ucuwkjH34UbGW6MF8x/K3mjO3iroMAwzk8UBBDUcP5LiQjQy2V3m/H/5gaaNrmEcRa7meRtZPENy
ZPENmN4L7AGJr2/WoiTdg71aHt58eN9zn0rfc584FeoJfVjhQEhmbmOm3Ft+Lo55cUj2zK3gUQMS
P40Z0iNmus4d3P8t/joXc472i3aszFE90nvBmeBF2G4EYekYVwqukLPnYBTinqjkA9Z26CRHgoDK
FrnznOdvyheJujroXFvbUJKe1csY9aJVUTAqd6qcngo4pk72uS4x4oRok3UCJ7r+gT/51pYndJU/
7gpLxx+P4bEM2Tiwj3x8UjGLDf3UoljYEDOIJF2jcvlr0Z86vR9ppH317DFWPavPQE7MnXcV2W47
0Ttbi9mLZCrEYQt1o+4YnwtC2Yz/tqJ9P2ovhdnyOB1X1tZYdZ91FkTQcpShnB0ls/fIaI7XgrPX
gZVQGRttoBePPu9p+JZGHv7N/z7uix93hXXfR8+h42s/JegfzvjG/AsNyysNZ9gOKn5dkPEZRXwh
aGkYcK0HMec9/w5TU+28pvSetzSOpIlEuWk419d35itwnCl4bnVRUC8FdRMF18Ru3o6x1rpzo1YQ
UVDbreADp5zC4INDzD08z8DvgiUWcKYc+8Rrjzrpv11NvJzKSTw19/s/tkfrf9Tb1L/lcV/6uCus
Rf/1dYY75kHWzRMcKthFFdlmIarEMICZfoezyzKDY5vD4YjSn/9Q613RlNC9einKgAJwJRqyI82v
lew8zJ6LiWreVl1MNk2Ot3rQsOsRd/u9xyEj2q6o7dNj0XMOpP3wufiBYI4ZJwneWI2jrYv+2/VY
MmJktFJoPjY44FUZ8k2P+9rHNVhhUyNzNm5oVC77THPk40+c9UvTnacSyW7C0EYznZvxpYd8ZyMu
H8z4Iqe68SQ2nbUSF0TxIjKwBp+1NyK7HOzoJBazruSyJ2qhMmqe/xvtHv5U45wmGuc00b6qtlvz
3vOXM/RAN3d85xdGQf+Cs/Nxycp8d0rWnRgwWeROQEHW5Bg444zHvPQxBmvzsmVIhmQtkj0/3tqI
aZFQm8mIpDAzIHoN/ZewH3gCD8z400B94l384eMvI8hEhGMFZJYzr1MV2JUKbO9ETBLqyW2Q5P4k
h9vfDk1XFDqaKI2VKI2Vatq03vOWxmmlhYDDXvKM15BxZ8lpbhKnttvl6ib+uryJ55tXNi5C8lj9
5McYrIk5Rwvw/Fp/kZmGQYS4dXSerW7q9YS5WWLpBef++G1IRn7OcBPicsnOB9pq3bRt4DbzfDYj
e6TeboYruech3gs6NP5NnTVwesmY52g3Rns4P0dltTmZxxgsH4r8/BDvtRB0yO7i99tZ4ieEQLqd
wFY1baBUzhnz7g5pXzWz0270oVP5xiefyedXriDbND4/HM1/GHgnojmJa5z6cls7014prulomHkb
Numz99+5x7csE29lW8+9rGb6+N2rY90nHwjkj1IQnYvpRdVjijrpw+knXlnKWVaN7lm5rrAhan/s
meBjDFa21Sh151pcxo5QRVZ7FucGTAXV0DdsvZl9MTPgflduhtFOY/MR2Vo3b6fYsGoVa0/7Gs98
6T3kC34/HwaXS7zBTM1mIo4GraNJloRRyMzwAnS1BfrffQ/bwGhfI501DCnpWbUMFCtY+IBDydjF
mL046UDtzpLjJqvUtDF5nqlIzY9XUecxJiw5TumM5WqrhQB25758Uip+9jjsQ98Kyv7zUYsIEhdJ
R40duzvKpiuXIcTD85t556rXEnr/1DBkKcYbMBri8hCqO1/LxEoXBF+S6fPRmOtu3HeITqar3vxj
6V29PInOcyAdFIS2RsZLMcsQe0B37zmWaOrHtoanI5ow6+q9fAXtZ0+c5G5lsDa/973IC8M6MB1e
7cA6G5T1hFVSzo3bgP8ptjZ0jS1oZ++3Lat103aYDatWMT6eIQwCnnLvJsJc7lBzWi70/4BcRQ+t
DodFZaWLiT/KuKpj/Zb7e5bMp9jVSNN5018pW4KeFecDY0QDZYI52achnQ722rjByTlmHXbmtBOP
KgwdgbMWyoLWrTeBW/0U/XUIyziQOpAdNvEpKY+Dkv8zRBlxQ37xnFtyI2Ms+fZttW7bDrPu6jM4
7sJDyeV7mF/cRJTT/uDPx/QmzHJJ5HX9TS4hUSkOxgbg4mzJ3d67aAF4o70Gxsp/+FT+/vbLsFyZ
TKHk3JzsswXnCHuLTMioZAnWX3/WhDgaS6JZYklD64tgy9aFWLYyWJkj55Jb2IKMxThaUOq9eiKk
iTN8w24ksh8W1w9GUTaDq2Xhgp3ggVNOYc+jL+WOs25j0b05impahOxKxGuFZYy6SbPZmoqDPXaC
9Br6XPH3h30lJIh8T9u0+616LzqT3ouXMloKaNmjm9Zj7rBwPPtCxCWSTpKDRBY6XVlNohqhYIDn
iLGBn3ToUYWjtjJYrjnL2MbeBXIcpMrpT5pA+FiSPWDSMSPmdX24OPPXTH9IxwVX1rp1O/aVjj+e
7hu+x5bfn0/7pv3YvH/Y5qz8SWEvl5GdpGNVZ8ROxES/p2het5S/+fB5I9/+Awz00fnRldPamt7V
S8EDXjS5Mo+sb2HojqeeLG/XyPQCi81qJXupDvuzpiRRs4DjcLJ0WEb4Sa7HrZ3uIRhuCY6DY1NW
Z4GA9UikDyHdndlUJhirnVN3KsjO76BJBTbPv7szVyz8l+DFMvK1bteTUy26Cl4/DYrD73WvXhQV
3jBO+MfumrZsKJ/J7bNk6ELJ3iFjfrWd6Yx6EuJ6tiYdYfIdsXtv4l+3NlgBEGvw7D+tdeFmGEmp
Zo9Y54Los8Xh1q7C3H6i5qDWTdux7wM8sOr9LL71D5S2DCzONOXXCl4iUx5qqL3+j9qdrHSThv0I
tLLYtsemzIYNgEHnHtN28KZPvItH7u3EBaOE5QBzOjjsylwqsxcDrUmIVV32Yz0ieKocbSpnWX/w
b4DjgElbwt7LV1QURucb7J3uA5+AJHVCUMb0YbL+4UzjKOPdc5hzzTW1bt0O0fWRy2i57XaC/pG9
VMifZ2avqXdjBYn7J84ju9XgGtH4++xQF67J4ZocHddeOy3t6LnoLPoHWyg0hQz8fSGG3mCy6yVe
idEqU0WEry77sZ4wxWEpwhxmC0YGoeWtX67++8QKqyGAgRJk3XzEnLRrH5+kjp0w7pWzLwwUm4st
DWMsOPIemJ75MaX0rFoGW7pB7Ekhc6qMfzNTIdYHVZ0qBlQeGmbA/UgfDZT7HjaGsjnaVk/PiaAE
3ctWI4awPk/Q4PZq3avrbZHsdYjD4wNkVUxVHfZjHZIEYhmYPEuaWkpzymM2UPnnqsFST4mMa8iE
VlwwEXmbdvKjSJJprdfE5zC/ucWKEDns5Jl1Mti9ennsppYIPO3e2btlvMNQs5JagXU6x+JKK4CZ
eoEPC74eunJoGO3TUH2o/+z3ADC4YhhXGEUZFaJs8FwL9QZhb8IoKGlpJR6y1p02c5i0iRd74VgA
VA1WdUtokcdHo3sh5hMvtWvd8vpDlQJR3OtHMp/pWHU1KgZ0zLBcwZ7zlkLosdBTzgQF7+xdoHeA
2iApbFqPJLFWSdrisEmfcPjPmzEE7HJj5YFNN1xL7le3E+UaGD70RFxufJGV7M3AZZLe4Y1CnGGi
isxOffblTMBYQuAWTE6CntgSOoGxF8aC+MVpfMhWVHNwtAn0bZrCPgCCmWXYe9csR6HH5Ry+uxRk
A3uLjP9ELKpnf1VVNTT+aRizGzO9I5cWl8wfHttnEXud9N5d3G8rGBwdJfPIRoZf8wpc/0BD4z23
7adcfgXGyTLlJ2KrkqOulB0mSfvaC+LTVf+hU3GnXTthsHwQAOwJzE9zBx+HaoV5/mSKbqgMyM5L
Zk7c1cBFy4kEREIlH9AUvMKkVZgtltWxUzgxVons9KiZvjvaHJ7aONg82mNb2OcjP9tll96wahXz
g3vpl6fh4/9F7rnPoTS/oyHcc9EpPltYCeypyglguvmbOmIZvr0MLRCGZeKQoUerNexJYtFSHg/1
4/VLT/BIrVuyY81P/tOQcZZxx7iMXQssnkFrxJK8vhv1jb+jb7xvdDwqse+yT0zbxbtPfA5jTz/y
6GiPRV/DuBKLy3ABqQtlVyAaEfNK447K4HUA/sPvw3lhEfNNalO6utoaVWMZfifP983X72LkiRg4
4wws9IxuKZHx/iC8PiWzJYm/UvX6bTSRdhOZ11es6N+f3XPOYGfDPH63+W7WXX0Gdsstu+Tafect
Jx+OMxLOx0t7NR5y2BXIf0XOXgDWLEvWfbL6TFma0VhccslZW+ngTNDd2wgkPizbo0xpQwO5vO8Q
FqQHhFuT6McA3LbhoX//9R77X0/76g/Wulnb3v5PvAt+0UXvwkU0lTMH+pC1cjq8WinC6jSjoZpo
rRDsBjO7zHfk1pfu3EKAcWT7Qcw/c2pj37ovOquaPutDT3ZUc8J87uQATsZxNFJ7xV1S9fnVX8/N
eEwkqeya27i+2GmezZCssHr/0EDzT35ugtZk75iubyeobKTuNuN3i/b+LKMbZoIq8AQb72mnZ8+F
ZEbCvZXlTBmvUCVtux6fTpImnOw2ZLKPe2cfoKy/2YZRsu1NZNsbp7SoR+/lK/hs0hGu7Bmd3xTI
eEW50V+mgHMwvVhYe6KwoN2mBFetqBQOEnNdSfMsiqdhBsATMHrCcxY5aIpfm1IhPn8QmP3Yi99b
LmKPl/wZPlnrlm0bvecvBSvhzM+NcG8VvHWrAp11NekquTbVwgKPYHwB3EezlNZtOOgQ5m/5G20r
pq6gh046ib++/vnw57/zz+ctZezk/Wn4wv3HNG8YegHwJpmeRqWjKkVh66jHdgPmmmxe5YcMgMsY
ZGwhqCmObk7341WS0ykTt7GguM7ub5oRQaK9K2PtcLwIuksWLsi/CeMdMitYpXR8PVA5AYxXfLGl
EiHG3+TtEy4ofiIcbxoNthSY6zfQuXrnjVXFP9717qvoX7SeuX/bQDBUDMI5jUsavvjXYzDeAbys
uviMhbbSzd+0I8DmytFZ+U0c1mDCTIskmlAaQgJUA0GSn34P9lfbXIBc/e+WNy9bRlSOJ5trNqJ5
+Vdh/LvMltSVsUrKBposBBUFETBq5v+M2apo3P3KNWWJigGdJ97H3Cl4UPStXkb/RbHOW9DZjW/M
BYWuocZyc+FYxLtBJ2sinDpNq6khsR+LuRhbr7CIi/UuBGtKb01CdU4bSD8h8o/IoOOK+o670vHH
01XyZJqFnMEYh5C1s8GOos5Wz6pkgMluB34BuleR7vjex4/69Yn/eScNHUXK41kWXnXJTl+rd/Wy
JBUJ5CIszNnwV1+jlv9343HlpsL7hf4FU0OiK65Usar2JK6LOWCdW4U1AJisE2iodSPrDgl5fjH2
X3s/ovIMkY+JPDc942pGNmYKZN0HZRyrCWm0usKw2804xxrcGYhPS7rtBW/7C+YgLE1df2/1xcMA
C/yzW/71f/5Xnq8LTgKbNPZTK1VHtJjX3MoNnEh+NrWC5WrdunqhEutvsBHH3xv+42HCvvov2bXu
nSdR2LCZo46/h6Y/RB8Q9kySUBWrt+1+vN3qBfUwDkDZnLHotX+FTU2wpYD9x46fbuj44/n7he+k
7Se/A4loyAhaeJHBO7x0HNhipIZqfvJEmEI99dJujAEKcGoxizXyM1CJd7A5QD5Ny6lQcbjab4F+
heCy9a0o2rd6Kf6vD+JLltn/6k//Pzl7A6hV1ROuOpuIBkhHymyRD6M/dp4quGU99uyv7HgfXLYC
lw1Q6OkbKtF66904hXM8wUtdCy8THA12sBTrfSWaFBVPVX31z+5O9czDGktlhxXGk8DReB7OwcjX
20O45hi3IYYx6PzA1B2nTzXdy5ejSLS/0NP3UzvGixWIedUJWUe+qwpxyJ91GPpXl+Penmvzf+u4
+Do2XrkXhrFw+bYXj9iyZilyIiyG2GiIhssETbmDguHxZ0aZ/LOB5yAO06S1c+KrShUV6hSbUBwo
jD7UxkBLKTFYcW3nVkEuvXdAcpAtA2f6XRAwHNWd92dSY288iYHflFDB0ffDYH8CvR84FOpe10wW
1858rXnXH+SitQMrL1+X64+DsHpXLqX9kieWjOm7eCkEHo0FqAwuCijnw7kOd7BryR0qeB7YS4FF
AhKF4on+qEMjnjKJyv0R+fZ9tjRFo8FIvCX0ARZErVRKwezmt3HSwX/ZiftG5MpzoqjWzXpCNv32
QLLZEDfo5yjDSYg3VjWE6nuLHwuvGc3I3uE9jcrzgaBfD/qWoIyJLRcuZTwy8uWI7AOD+L1aoTkT
H3mXPKXBHPmWqFmy9ijrlzjZMzFeJfT8pOxTfKGJcI667YyUx0OA5Shn5ljAiAMoDuYBmqulQXd3
Yt+KN7Q+MhsoeI+v00nfveY0Cu2DRINNkNe/4FgqF293qpHZdY3FiyxTE+jfLeILvtG9yKR2TAWP
rNV5gpzDH9FB8UMPICxr0IRsbq49PFjGv2L6KOK7Bmvl9Hw54kWyElGauu+HlMcjdhuQDwvMibLJ
KeG8/bK5wT7LJOM7XWPFVj2UuNfAC6Nlmotx/iPWXX1G3NLhCF/MkZnff4Lk3ibonBmGaivMRCLm
bcdawP8JfmbixgB+POLtoa5f9BaXHNKQyZ++byfoKMEzzDhBEcfKqRGSQautFFNTN/oMJ9kg5Mys
BRQbrMHxnrzIuN3eTm1NBDwiLKrnVacMytmROdly81uQvaDySJpxTJblNgLE8wTHGVbOO/klz28b
w8wjtSAFQEZGlkeXqkuZZcShDQ6fExbf7Ez3UC5sbLMkuHC3t1pJSoAHNoDqMpZhz+/MAWDkmBGK
hezpwCvjf6mr1JvtwZICznFuoZFBlql8E028KA7mhWqd361CNtI11WzEeSy2VQBhtilLaqiqJHvi
CKOHuPZAXdG95jR6NEAcDBq8GOw1iM56lmTfZiZX64l9iUr2eFaVzrBHWeQZ/6VTnpB4x+CIyGGV
1Jx8NovhZuRWYldQ0QSLbJjIRFQ/80HHH48VR+m84GrC3FijwfsQT9Wjj+xnC7FxqoQhMOu+X8q2
4IAMSgyWuShHOhAejZCKeKme9Lo3vuXl+OZ2ZEZ2vPGNEi/EyDIbjVVKSozDkcVVBPwiZannaJ1p
J/FcO8Jat2Qymy45jfzfHqbtko/QNzi6D3JnYzSnlipl1hIP7sBM2arT3ZWyOWXrLze2ViROdwPl
6skYhNkiuWwzPWuWtvl87lRh+wBWZxpXKSlThhHH6AjLQmVLWHCJ2GP9bH1qSaLDYy6yxiDEXJ34
sDLlHG137IPEgXj7TxOu3jSuUlKmlvjAxZIss3hLaCpTh6dhNSMR61RAO2Z1cRjRu2oZvgw9Rz20
N7j3YYnaQErKLEYmTOYttHL1lNCNWSleedW6efVBHHZtTt7mKzInXwcdI3HLrZ04r2PN8wZZZSVo
dWBO4xbGcuyT4lal5NcTZZgqf6/+y8SqfqsfUlIm4SWVUcXpXvZlsolibUoShagAs72AmsuM9lx0
Fj7yHP+MrsMEr4fqqWANYpCSyjbVSM6Kly/2+pmsG2kTzrbIrBsxZmIQ05igYLJWUAB0YrYYYw9J
nVQjsCZ5DetRwyulFkRkKEOlak6ekk+3hBMIMMsYOhDD8EbfihW0XXFFbZoTGMFIGV/IPhv0imrE
FUzPM0ZxsYhk7TRhrYxuZA+CHgbbIGMDaJOJXkEfZgNEFC1kmIxKcuSIaDLkcDYHo1MwD1hgYglw
gLCDDO0Tf35SvzZWRZqub5tST8TPL49NMlhBk5V9EdW5FMn0EWfRBsL2sbK1+MZwIDNUm5S1gTPO
IByP8IXcfqDnI5qxXb7yUOw9SDrDSCyHjQDrQRvNtAHsL3i7y6R7zdxfFZTKERkmrGk82uSYMDVx
Na/JFyJQiI20NPjG4tPkdLQ8RxDYU5D2M9hjq+ybdNW1WxGvueUhDjHKAJR8WIZA6TiISdJwDakZ
OCDoyW2MCrURxMpuKRG2NWChf6mM47Xr6nhWvjNmZhWHpkkDMgYRG012B9gtCvWr0TDzQEOjj4eT
gXeeLdqPOfSweM3qbb7ohlWreLBpf54S/XkM+BXwKwO8BQdaVP4XnL0M7AAT84QatkrdSY3X7oJH
KlOJwxoeD4rNDl9NSUkHgVWC0pTRcWFr+XaT9eukk7CbpreIamlRjvYPdru+UzueidmeVfXxnSXx
g1e3ekoS9My8pJJBEewR4PtY9K2wYeRXmfGWMXwAAeyxeBQOG4Q/zcHef+0ON2Px6q2NW/fqs/AO
QH/FbG17U25t72j4IqR3Ay82syYUx8dNSpdOQztmKckpYWSyEiSnhKPdDUUzIqUCfhNUtjXenmth
0GqR1aRnfMHR996OlwqeOg3Xj4D7gA9bWa8g0tN+d2H7mcCPXJgbe9wDyV3YKAF/HSySbc39KLeg
8Q0u416M+G+JsV3fFSl1RFnYcDXSfX7HOEQ2ai5+4qaPqgkhdIMTXFhuK89pethu+u60Xb/34jPj
v5QA2QuBA5kKgcVE17/iEDJvYHYXpm+a/HfcSOnPYXNDkUjjylv09At7Y8lOOWSezot2bSHZzlUT
hT42rlpK3qA8VELdkc+35G4vRuGZwj7m4Cykk1RdZ6XR/rMRkyFTMcr4AecrqTmBBxhQZYqmUO0H
U7NywTGF4thf+y981ygXXrVzH7utuHjpkntJlxV/OP+ouAzbDp6UVTSm4phhMwmDuyX7AZF+iONv
ZOjKlMd7i/PaIzcyDgG4ogeMjks/OD3f+VEsWh33df9lZ9N0RCeDd3b7AAbW5/nd4iJL5XUzzk4T
PCvJ1EhPE2cZyZawlO3PDirvE7XG+CYPAEVEPr3dVI+l4tWFvSz09itM9/RdtJS286fBaI3FN6H0
/XnH4FgUB4lu4ypClVrrVJIaYp+ctE7wU7BfG/5uefdA+6sWP9T7vU0QRURBng3/8WqOeNUy7JZb
atj7WzP3nMsB2LRqGQOIeUUQrNNAeLNry/5N6P8h3ojZQpHcuzRlaeZTlfpWsbx20WDm9AeTQqpx
JPcgRilO+UjvM5NV5MRLQP+tkrvHzZkeAQdNnIQdB8Tyov9oAlbVOuNQKUMgbRHcCdxu4nYi/X7k
uJ57Wv7QASa6b3qY9Ws/w+L3vpmO666DNR+sTX9vAwsTXf2elWeChJvjwnLZ/S5TCNcj93cTbwSe
rUQ7N00Kn+EkccSCYvaKjRRHhmKne5IqMSAopgeEj0HAHBnPsSbf6ccd3WedteuvaknKp7OnQizA
//iti5dTIvE/yjBp1Ex3mdk3ER8Ev/LGC69a7qPgCwTc0/KLhVDM4EoB89Z+kKMYZP5119W6n7eZ
jkuupuPSa5i7ZISxkTzgNvb/vf+jwHlI3zFZsRp7r/QUaaYSb3KEyUY0UibI5ZJCqrHu6CBQSh9K
W2MScmCyV1LiVjL6ih/Y9f1jE+u7/T1qnLTqjTPuqhrmyXJKlIB+YKN5/kBGX5/bMffbPZt6yxY4
Trr0/YSDrSy49rxZc6ri3v1JAPrWLGfuQXMIhjM/KTcW77eyW4uzEzHmVry2aajOTMRA8khDAPOv
uy6RSI4tWS9oPN0OPoqKQq90iMTzixvyOdfu6V1zxi69bDVBWLSTaAElv4vXXhImhYhxYMDQL0xa
FUivwHg78PWhgeFyy5xW8vkcnSs/zMKPzB5jNZm2C67EW0T3wHpyjU3r+h7oeos8n09ShJKjpnSl
NfMQmA2DDVYGbmywDGTaBIzUuon1SeLCdrwou6D8OstPw9ivHNi6xH/1qH+zOGbq1+Y5X7hj/Vz3
UjfmPyFYX+veqg2GRZC77Y+0X3dOseOitafh9SFkW1JLNaMZMGfdlXVU7HQvC0kbLWMjs/EJvLNY
kvxr4jBn/tXkRr8OwSjsukrw5qvT7NuYGk00xYnG3G4Bv8a5X1qkLolRT2Ys012UbwywxLa2rbq6
1t02rcxb+UEeeMtbsMtWMH7Zp+i6+mIFW7ovtVxmWNjpMi2ZgQVmU6Bfnq7KJIvjsLxBZBuVYaSe
JIHrhthNVEkIfo6VGt/tx/PXAHSdcRFw/tRfM5GGElxlps8hCyTGMIacqb88XBxyhSyY4QgZf3kD
uV+U6VzxgZ288PTSe/kKyAVopIhCIKrGY0AmTkFH0HnBPw4l2fdzn8N/7nPYFz7O+je+m71WLQ9F
5mOmsgGny2xPm4gJTqlzksoK/Zi6Jv+O3mVnULhjNDP27OabZfYqS/MJHwclVfEMTLcS6BQbzt6n
fATjjo4PTK2h6L1gaXJZ4iBSgZLYTxeA5WNjhVc1Tmkm0L/6VLA4INWX8xAYvuyxVmvQCPsS0Wmm
ghGUldW9vsiGeAtudK5au13X6lm1HHxEMDY+N2osvEfOLTOpvaI9QWq46prkAPCbFq8I7mi/cG18
w7re+R6C/eeg0fLnMXtzWoziCZHizeEocIN7oPH99vSeMHioQMtxD2MnT29i9Eyhb8UKrBwQFUqQ
8ZgF5HI9jaXxtgNwtp+MfYT2RuyBaDfIg5VxPCzTTR5+Bm4o9I2PSZb+R3RdcxE2NoYbGl6gXPY0
mS1F5KAq7JUO9XokSSEz9PnA+bO9bEP7qquTLWEhA8NlzKxXM7fU+XSQZFqq0WRvZK/R7zeO8I2h
XOA3//bAWretbtAn3oW9+3qkveldcxLyEWHbGK4n30Rge5nzS4rlOYdjHAccA9q/msRakQms6C3D
YQ473Vn4i9Fw+2XsO844n79///O0/O4vm3NDox+Nctklht5cPXFNQx7qEllV5KlfzWNdGmkAklPC
jmuvRc6QsQWzvlSx4UmQYgEoo0WBLh0p5Q4J+zrJt47St/rMWreupmy+5DTWrX0PXVsa6Vm1lC0r
3wBmOTnmBcO5I8n7N2BcLuyrUrBWzk6Waf940Tox6GK7ZRVzcozB03JRkYbc8Ha3yQH7f/IbBPcO
ke209ZRYZcYfzdK40jonXhqIPr+lUPaFHFAJawDkhJzWy9SVZDakPA5mVimI5oQd4iN3XnbBpv2i
MEBA925otLasOZPNF51JEAa09LcQBiFIuabWsRakFyGuVKAfKuBTcvYqLzVCEk1DVR7kMYPOJopa
tBUb5hYyVt6h9tlNNxHNK1AcyhDM1YOYvcdkvZO0xVKrVWckxqpkni7lMtVT86rBirNA9IhBGrey
zQiwNxj2lozT/Fq3plZUdlQy0TTQRBAFi4HTSmPZWxFfEfwb0PGoN23rh2OeYsPnFhcZcdv4psf5
mMQq+mHzRPwRcS1xdkdKnWLGOpy6mKTDNmGwQoOSW4dsC3VTOapuMavUZQAEZ0eytxQz5SYi6F25
tNbt26XoE+9CN7wN9T6D3lVLMQ+DTWFgci8abB/6ryDM/FpmKwVPQSogOcVLU1lVjivuxye9jmHm
DfO+a/Rtm5X7y9073Ob5V16JOcgUiwwdMq+U6x26xtAfDYuUKH7Vul9TJhFXX39YxmZM1XCdamUF
XzboyzzMgvLmiXmYOiOfmMpGRgLL47U8P54z+sIPqT0o9ayOjVbHqmnSz5oGhi5YSnPkGdjoKGP4
K15ALh/ua+if2wazLwJ7KrDQsOaq81xbiQ5upzykwOwRnNto4yUe+MbXdypKt/2CtTz0qQ9QWNfP
0L7zB3NDw5eC+4jJDkxjSuuLpPr6w2BbJv++arBUNoK9i2Mqui1xLYKKyHfKk2FxOKnMbL7QqdaW
CaKG6Fo3mhkB6Dl/OR27WKVzV9O75kzMRDkSPc7RobLrdtnnZfPhC71xNNgRJvYCtsoznhRZvn0D
qeIJj3VRfynjYaKQw6ZgPO71vd8yuHcrruRpvuEz3+87Y+kPZSxG1kT6kK4HkpWuDOxh82yefEeq
BssCYNww02bEqMwaa93yGUFcYkbJRF0idFowHmQU2WfI+Q0uE7Jp+UoWPP1e7F//t9at3Sb0iXdC
5zDs2Uvvdw8HL0rFPLnC+B7O2zF9ZJ9usucIngdkk6chmLZW2N7BcIHKXjt5GPy4nIv+HoSOHfdg
TWA33UTXmvdjGKXTz8S8/TfGoWY8P61yV3uUCMHFmgNaN1gq9MxpnJDw3+r2JNHVr5Vxkcyemt67
7aBitISBjUlci/GpUk/jX3Nzi3ScAkM3OVrPvazWLX1Cui45naghJBjOYKUAH2UIGn2TRdpT6BDg
eMQrMDuQJLqDrYoGTkE3StXPMm/rML0qKNvtcy+5EezhKf2+faetpHx4N5l1LZfIdE5S4Wy6uz1l
Eqoc3cZBcq+KysE3Oy++EbMHAbZ+aHkMj9sg7O+JWmXqiNxWEvE8mUmmBnM6C1hTmDd8WGNrOei+
YQxfLtN3Qf055PsuWErfqqW4kiPXU6CcLTtD7blCeX8inSS4BvE/kp0ui/09SYxU1WZNWTcm8l5x
ShL/ZeYeiXKw7prXTf0XL4QED7fg0c8lbqtG/qTUkIrSru4jsr4giOD6E6v/unU548iDZx1Zu0+W
SmJvNxMhRUmhP73BR3bI+Khb2jyn4WehgnJpaARt+REPLv8cAPvecMO0N3PLe9+LHy4hQX7/uXiJ
rPdILvD5qCFXyh2A2b9FEW/CWKD4cVfxo1cSt6a+vlK1oo8J6HfSlwYD190RRnScec2U90PbFVew
5dwz8WX9JtPgfmnGM1PXbY2plBp0difQA4a9+/rqP2+1wooaIjr+vud6TPdU3Z4pO4GBcaTQV8aG
x5dHw0Nt9TgZ4krLNk9Ob7HQfcN8cJsc78eY/tiyeMCWDH3cO9Y3ye/Sy7Xs3UOQzfc6x5/TwIZ6
oHoT/oRZz6Mt0NZbwqyn/+ANOLMNDooiDU7ZQQxZrLYebzNaJVZGCm7wnheOfO4WWha107q4nZ5p
jNnqOWcp3cuXEswpkNtnDo0v2guw58rsI5HZjzC7CuM5QA6zjCxJtVM192GXmttKho552xiR+dj9
cw8ekoI4r2wX8cDXj8YFIYj1oLvTR3QNkSYqDUbcyUO5Ho1vfUO22hJaOZa/RtYF3AU6Ol1k7SBW
3UTFR2dmjRgvNdir1D/yTef5sC9kupzzDKw9HT8e0Hbe1MdsbbxyKVsOy7LHb0sQgjUaDGkxGb2y
/MDAiWZ2ELCXYM7EFk+TTFSl6OouplpMQH14fahncO91B0V/YW7DBuzcG3fZZQ956y/ou2tvwHqA
v4EOScd8bVBcM1OIEuJB9hmP1Bts9ZqtDNbC8z5Mz6plGPQmpaGOrvWXmPHEznjF8185kx2pgCU0
uAPN839k+Fp5IDNMxvPQ1e+kMNbIgpUf2uHL+U+8k2998hm89C2/Z7CvARsx9v5liXIDcyzkGSrz
LGuwpwkONbMDHlXCr+Kjml79gglF1wj4tSJ/gy3OEg5k2Dj+lF16aTv5JnpWLYNYHrx7Gr91ymOo
ukjvItCAQiMWApog85j3xEc/3Yg7Jnns0zDgnaHinpZVli7tYP+K09Ms5HAL9KPIdNucno6BMFum
a82pGA4kOld9+B9+fM+pp6L7BuDYefRtNJ798nvo29hK0FBqM88BUcae4socJeOZBsfIrKrTEsdP
TYpErwHVOC50j8HHybi+eUP3gMHiNWum4fqCWCO/bKkYXA2pZkj9DjGKic5HCWM+xmB5L+Y2NPUP
jI/+uWqu0oOTqWGrbaIM4yDJzgJOdN7dGGbLPzfs7+V83+b82IJIgu4Ll+KckR0eYfTE55P77R9Q
6PEeQFjkAOFesIiorxxYxs0z8525QrjIe/d0Gc9HnADkE38aW2lA1bq0u+IGgQ2a9LWgr/Gbpb36
AJi3/CPT1AYBBGDZ1FjViEmV1l3ErSYNP55ozGMMlpkxODqKwx6U8TDGkjRjYYqJDVe8pogt2FEm
jgLbJON/s+Od3zTZXYIxmcZcYKWB+Qujwm/uJBz15Fq9+aLL4MmaLE9AjuFysyvYQaDnC54vb8+G
JBDPYiOZCGxOj09qW6gYq3hV8zUCd304bwxXzE7v7YgMRIaAQrrAqg2xS0CAlSzLrT/7cjhy/Bsf
Ow4eY7A6V19F9wVLkTQC/BT4t2R8p1ZraqkubSQUn4RpIeJ9psz7hP4OfM/Eb3yku1t6ux+Iuvr7
tdeCxmjc7YmYB7a/TE9FHG1ZOxqsRaoaqPgile2eUU9TMTHWlZLy/E7evoznYQuM9vOmPubqSW+E
cyAahNrSYV4rBFhknvvkWf+812cfN0Qh84RvNw2Z2c+BN6cpVruWWPlyawT7AO8E3iGPD7M5sXi+
iKpVEuOqhfHTxInHSbWr15umSfGn3kK8PjZ+fPt3Gr+7BVqnd3UFkNRGa+LRml0p000Rx0+AJ1Rq
fFyDpZzR+oAfHtrb/dw8HnCpesMuZLLopiVK1pgDXKy6OemRsVWd+qrDOPFcMxEvNTkFuc5QNR/A
QLqMSN9q+EUvbVd9cNobq+OPpy/u31bQItI9YQ2QkJmMEqafAiHA3PMfG+bzuAnwtqjAyGLDSZtN
+gtSlK6xpo2qHktlz1gRvDOSv096gVX+Z5Uf6/5GxdJsYIivIb6khmCzjUb0n3batDfmiJ/+lKiQ
R5FvQ7ZHKl45/cRrIWHSWHm0+Iuev20ql0dLj/vax1fs6C6BMyykiPg5WCn+4DQxNGWniLMF4wXg
/RJXhaPuHit6yDnaPrTj8Wc7yi/OP5V1zYeDs4Vbr11Tpo348DoE7lnwpmd2LXjqEhZc/vjhPI9r
sGI5UkPOyph9D1RKq3+l7CSVmo4IeuV1pVqKvwiaveSM9ktqo8waZgvs3f/7PTDbh+r+O2XaSE6v
hfVL9pPNN9xGebjMg2996+O+/Ak10VwW2k5oCoMcPwd1JyFdqcVK2RGqZTFNGjLpyx2rX3N9Jmim
+aSD6bxo+yo6T1mjPv4uJFDEfoIDLF1iTT+mitO2x0K+my3kMdkTqpg8sYijoO+nw/hQ/Wb8BmM0
1ilKt4Up20HiR0hW5yWDHxQ23L9s03u+DOu6GPzY7TVr2oX/8W8QCfN+f5MO2pVJ1ilPRNLp0iPj
J3T+NugaI+gae8JXP6HBmnv+2uRzAOPbQM/kz0/ZLqSkKytyP1RL7s1ukgq+SbyVfihFpxcX7jOW
7zDIZ5l/3XU1a9vKD3+R8ngWsEMk29tm/+2oLyoPM+jC9KvCL7aghgxqeMJoq38gkz0exH+Gct/B
07sbzK/pwXZDV4n0PZxbbUFuHd5j3tf82TfQ00imobxExv61bstuyUSnP+gi+4n5f3wTMk/6r8VY
2sF3jvVYyd0J9hQg/w8/NWWCihJBbKCKyPpk6gQySk74bfaeaCRyWvxa8KFyWPpNLshAJouAttVX
16RR/qSTMIneSMjcczAdWHW4pz6saWPSqH/Iftr9Mz2z7R+eFD+5wcrFao9WDJDxM+BZwAHpjf0H
qLIJitM5TWxE9gWDH8ppwGStiGNwnI3RWpH5my1UPexxFOadYGtLOb6fK2cBo/3C2pY9+78bLwfg
uKs+S25o9AXCnlLNskyZPuK8tAETd/qXzo+KP1n/D9/ypAar/YorAOi9cDmGfVfyJ0s6YHYuBqYK
xcZKSRYf9kvQf1nZ/o/WcDNjAQpEMGa/9zk9FeN1mDXUutVT2QHxYaAA+5uZLneZ6Fu5chCB0b6q
9jUan7Mq9puZ1wIFdihGLk0hnF6q1ZFkd+D5JeOe3KEd8OMnf982lXprmttEaaz4COJOsFAovbWP
h6qJM5XSLz/F69K5+0SfVqDNWtcUq36GUHbFHsTdJGkIswQpKaUKtsGkq1x25GY/mi9qpIHOVbUJ
X5hM90VnQWAQOJRxr8RsSTx30tPv6WRSNtofcmVuMzM6rr32H75vmwxWcaRINp9Dsp8Bt8e/TW/w
o0kcNkZFOTMTLaOc/Xbfgw4MgoUDkC+RAVwuO8/MngmWmxWHGUoSwgCDjWb6aPuyH3w8HG0tFbvm
0HnFxbVuYdzMwMgMFfnWBWeA9GqkRXFeU7ptmCbi+oHxXOnB9IexIBgZvHePbXrzNhms1pWX4c3j
zf8S9LvYTZze4K2oVIBEmNedKutUE79XrghOROWIqCzCqIFyNpoDvEbolUCeGZ7AFi/vE10r2QaT
PtOzYc6lXVeeqL/+6kAWveSPdeGk23TJaVjZU25ptJevueZwwTGCnM2KJ8bMIA7lTJKzpB9aZHcE
mZC9TvrVNr1/m6t/d154FZkw1xMYf7BEvpT0Rk9gcY6c4G4vXY7j9yo7TI6O9hAQQdZoyPY3OM/L
kLtWzpJV2QzuxopSZPzTI3g+MnzQfucdeMwjzPvc53nWG36LO/mmWrcyxoSFgijMWOjfaVhLrB02
g/t/5hHrigrM8ZO2NfffaTlh2zhGttlgbfjXj4MLUejukPjJpH9K73aCRMm8/TDcZ58bg4FB3Hgx
+b0wxLcv+KOVS02vEsHHieX1p6N61jR9eXvAIl3Wd+bbLyv8/SEAfnD9T2vdqkc1UbRvmU+UC+eZ
42SgudZt2v2oyCFxryL7S88FB2yHFdqOmSJB97nLKHcHufyi6D9xXB27LZLy4rs5Aky6lYg1ZDPf
CTvbAVjwnyt4Hj/kxrN/QC4b/bOMK8zpEE28ceYJjSWxZZU8CJP9BXGFNW35YsSScP2p/85Rjfui
44/Hbrml1q0FYOjScygVy/hIzeZ4rxkXY5ZNHG8zq/9nKpPCoYS/EvRBwza4jG1zibtttm1mUByA
hr3LJcz/EXR/HLliluYXJoiHLdTdNl5i/n+uYP5/rgDg66u/Q6Ep3IuAV2EcEhs3ZLKZbKywOFj9
FmBl4O0m37c4DLOLOLJxX4C6MVYAjY0FyuNlsplgvsneLSwTz5906E4XSYy0EEWL/LdLex2/wYqj
21WPczsWY5BtBF8CM92N9D/VDLkZNud2GUZZWUrKuq1rZsWKAEeAjsQqVWvqqBjEtlKp9gOYN0z2
FcRF5bbRb0aBHyPMsvCM99Xdl+q9+Ez6B4bINuZaIvzLcdovEWedrRkG9YekZDuB4DtE3JvdeBvF
w7av7uR2GawFa9diBIQWbUb2HWAQKuoQKUATjtZHH/oldn0uorkqEzrDkCRZrGNr0qihL+LtAjWG
P8r2NUQ46Fx7UV0+u1QIoWwgfzDSO2WWRLfWYWNnKYmoKCbKMvtU2NTQS7HEwjedvl2fs10GCwDz
BD6HzO4H+9ak4ofp2ho6iWwPIuOBU07hgVNOSX5tgCvFIaMzrpviR6NVFeM347mRfPn98u4uN5LB
IkfHqtoI8P0jus5dDkNZLBc1Ay8AO4IkFmgmPjhmJBMuo8g89yrM/ixfHC3+su+d230Dtttgta++
CkLBOH0W6b8MipX03Vr3S20RYHtj7jDLBLz+hht4fSJCZibM/Dim8RmTJKD4f0kwaLIe0f3yurbj
5MLbFAY9vlCCjKf94tqn2zzuVxDIknIEoXsusrfEYSQzcpE7c6mGjtiwjM9kXHE8Istx7V/a7o/a
/hUWxLuaAiXL2K8M7kQKU3lZA1gC/ujmBXO4+W1v5ea3vxXdeFJSckF9wEDy4nrvJym2UEkwqDD4
kaF3+r0XXTL47u9R9gGRD2i/YHprCG4P3zVhPqA4FMwRvBjT4UlVnK1cjCm7lKqXW6I3HLbPjzyY
KYejxuLVq7f7w3bMYFWbQhG4DmMk/nH3Jil4fvDIlp6nz9m3jbn7z0l+74jIPCRsQ2U3UtdUd/jC
RBnPGoX+7d9aXfqp9Q8x/Iyja93CbeLIk68HnyHXGL0eODn5cnXe+bONqlplH6avFJZEPY0HhPjS
jn3aDj9l+k5/F3M/eD0D73tHc9Te9mMZT69Ee++WVDRVpEHkPxeOFk6NxvKUhxuY0/4gpf0Xkdky
sELOLq9bYYA4xyapES2Q/doiXUnJ/zTb0dBXGh4nPGAv5p9yen22P2Hw0nMAKJdDvGd/Q1caek0y
Ouu2+2cjVakhcYdK9hpJD5gDXzbmX7n9roQdXmGVjjyUnktWUjpwv2E8nwU2V9pY606qCUlAlaBV
5l6QKYSH2Z7dNO6zha4Tj8MGRpHxB+APlfzPOtpCxweZycgy+R7JLjFxhusvfVMtmb5S9wh4saDO
jRVAy5770rLnvpSGhzHv3wE6IfbCpcZqekkk+qQ+k37gOsoPWG8WurM7ZKxgJwzW/LedhhvoJfen
PyMVv+TQXbu98726QLH9CHTGcNtIUBjP8+BeP8WNFfHSb5G+GucJm1UD6Wrc5tjHIDMoYnwb0zLk
PojpNt+aDcfPOxhXgo5L6tdfVaF39VL6/n4PfX+/h0Jzw/HmeCUwN5Ym243HZg2II4wFcKfwn1d/
gM2NYM6OKypldvSNBmwZXgS5RQThWJ9lyt+UOBjTnon6wO43OCoyWEYj6LXtG9u+XgxHv3H0jR3w
uj1w39/Sz1D4XQK9GnEMQE22Kck6PW4zhuTB7jP4HmZfCIr8tpwT3hyWhT3s32vds9tE/2Vn48OQ
IN9END7c6iNOxzgoFtGYtTLU9clEf49i+ll2LHfn8KJhFp/x0Z362J1yus/76AXM++gFuFwRG3Nf
Bm6rFliv9cqhRpjFCZaStSJ3gTUHB2dHs/CNDfiRMmGj+7OMyww2V8rLK3YZ7fr+SqqUJL42THjD
NprsW4o4p/euzjPl+e26YwPKzZ6wUXSsrs+Qhcfjx+d8GV+KUDiewdubMPciyfJW2e2mTBsyYhUS
2U/BfbPUFJIdze705+7wCgsmMnL6VgZEDdqM2Y9MeqbQHrvx+DCTSYaTcYzB+8tN5cuFrcuaEZU1
7lzwLUlz8bpE0AkEE2HXU746rWz6KnmfAKGwISfdB/YxKwQ3+vFobM6BfShyHPbaD9S6D7ebntXL
MGdk57VQ3jJ0kGQXglqS5+duOxinnbiyCpUcY4MfjA6M/rZ9URuNKy7Z6Y+fshvZu2Y5OJuvcrRG
8O7d2GABEycPcQiW3mfS5zEbbFt9FT3nLQMRAM8j0BWYHY3t3MNj2xumcXn9Ti64Lj9n+Kv99+8x
vuQFd2yzHlE903PhMoCFwPUSLzcjqHWbdlcEmNfNeF2M2e0dF01NJsSUGixfEma8WsblOA6e0Mne
/axXIu8eR3qgYcyWjRy88JONf9vkbdThChHRuGVyo6PN5bmFlwj3RuDFQLPF1b+qn2TariTdJEU5
eXnFlSA9grevI26WC38jsmXfXygFc4oE+QhFri4KROwIvWtWIEUIzUX2dqS1JLLhlvquppWKZ8O8
lRT5N87Ze97N3Xc/QtO8VlrPvWynP3/KnkArTngORAbj2Q2W9QUzvTAuH2O7ZfkkqworyszI4e2I
fPfQYNCf/2PUPkrzrxooL4p8cV7reFAuPoAFP7Eo+pqh38hZr4mMiflxsHnFmw/IHj+7p1JDN9GA
SI4g7zSzrxq6yokPSfYtVwruJVBRzkWFhf0MrZ/H/GPuo/E/P1nrLtshuk89FbIBbLoH1zLvRNCV
YE3JuEuN1XRSfTgY5vUJPP8TjhYHO595IIV3njMll5jSm9n3n+cSLRzFisFxOK6Vs+OAZIWw+xmt
mOQuxinEfwGuzA0WPju2YIgol2HRmVfRs/pMkCNsbCHXv6kxKjTuYZ4F5q1TAQsRiyTrxOjA1Gre
GjC1TvJ3FTGGQT2ITcjW4fSAebbI2Yas+XVF78LAAz729Ndr/t929SzwN4n2D5wDI+XnydnlSM9W
pcDa7nhSXSsmizp6uhCvYYH9yq8LGdnUx75JXu3OMqU3tHfFCnwmQlKjBfYGc/o0kEo6VjZpcV7e
n4HLWvpbvjjaOUwURAQ+gJERrFQiamzCZ7OYj81RaVMT2c6RucLNsYxa5dRskeXMaKp+vlGWMYpp
0Hn15Ne5LWNLFCLAGQ7RFHqKgaNldX2qKuwIXddeio2M4obGDlbGLsD0xkRWYrd1RdSKqh8irjJx
CeJyYBig4+KpG3NTfkN11svozx9MaPk9HNHnZToh2aLsxqssHm20/moBK3KNfHN82IdBFuTZKpG4
9+Iz47+Y0LiLS0kH8c8WGeaqnxuHGVnybx6sGG8bzaDt0trXApxqulcvjW1x5AlGS21RU8MqjHdK
akzK1+6+46w2xOfQksxzr4Xu5XdcetsDR539TOZeMbUnzlN+YzesWkXOjWFOWTwnIH0J0Z7Ieuze
PgVJSlx6JjZgvMdc9KOonBshKIMcnatnn4GZSnrPW453sWEebypnCuPZ5cCpMi2y3TVguQ5Iahr0
IK0i4z9m5cBb5Gi7dGpdDzun1vA4xJIRHiLKzvMTw27GGI2/0W5srCDJN4yLenlYLPFF7+0VZEot
mcCDh57zlte6lXVL75pl8T4573HjGZcvZl4v03uARabUWNWEJBjZpBCz329efdBHXa98eXFuyo0V
7MIb3HPxGZANoRzMIwx+iuyp6QPwcSlLLJe4wYz+dIX15PSuXA7x5vh4An1Opj12ex9pjUlSaO9y
Zv8O3ArQtmrXjONddp+7Ln8fwVgjVszjC2P/DqwS2nO392XBVsUckGGmEt4+ptCutkAPDx1+IHt/
9ItAfVWeqSW9a1YAESp4szE7Fq8vC9tnIrFgN1+914a4noPUY+ITUaiVQaPDBD7n6Fwx9RkTU74l
rH5wmIVcCd88RGbB8Ofw+rnJykkC926ZZ1glDq6SJTKtQA7jnWR1NfCcxofXM/bC4xg74diqttPu
TP/Z78HCIrZ5EzYWPA3xCZntm6iiKi0mURvihRWY8bPQhR9xOXARmGeXGCvYxfuz7uWr4ovkSpAp
PwtxFcaz0ifiJGLRPJKpVzL4paHP9G8Z+u85C1txgUNetF8w8+OmdoTui87CSmNEzXuQGdx0jILM
5Ti9uKJiZGmduVoR6/3L/gSsDsrBzesPe4RD3/iFXXrRXXqjK9Ew3R85laZ7QsbbG0+VcbacLUZp
Bv1WTE6okd2N+DgZ+4Ii3+MyojTYyIJj750VOX/bSu+aM/BmFHqLlJrzzwRbIWevnpQmnroXppnk
oDvRFtOYZBeFUeZDLlMeVbbMgpUf3qXX32VbQoife2Zg/Q2MdzQQhKX/wfTl5BC0IkGze28PK1Qy
3+Id8yFCl5rX6ebsyIbX/p5Mrszwb/amb8WKWrd0l9O98iy6V56FLweweR7FOQ3PlHPnxMZKSdXs
1FjVAMUZZ0oCRO1/zbg5E4SjJrfLjRVM45Fd3/ln4J0h41hklxr24oknZZqgWiVJcbBEpQOzr2P+
wxn067A1HLO+PATQvotOYWpNz+qlKAIcbLz5cPZ47Z3HCrsc7IWJxlI6VmqEJu2K5HWfYW+NiuGv
5z5lHrm3rZyWNkzrjV9/wTI6AjHs7Z/M9AWJdoA0OvkxVHNLEs/mBvN2hY27L0T7jve6zTkFgVXL
vc05f3b4t3pXL4/PYyKHsmWn8cxRzul6nI5Rmi1RYyY/KRQp5P+Vxvw3sgVXzDZnmXvO5dPSil26
JXy8i40CLtCvQRdM+qd0ED4Km/Q3wWLBh1Twn3dbss+tddt2FZWCUArKDm/Ps6y/ERdLSafUmIpY
SKzj8zEC/Tjf4orT3YxpNVhm4CUU2QDY1w1uqhS6V+rLmkxyWlw9BSNx3LxU4vPA2iCwOaXxCIbH
+funr0QnnVTrNu8wuvEktpy1EkOYy+Scgrc52ZcM9pPFtadTn1VNqZS/8Wb8OchGl412N/YEmQhg
2lZXMM0Ga+HqtTgzXOBpf96GR1ygC8HuJrZXu60O/JMS669LZpKZQ+wteEep5P/P4M2tV1xLy8Ye
Bg5eTO/qZbVu7XYzcMYZcPN6LBPiXDRPYXSh4GLJFhHHLsjYzXNQa4mkRNMNZOsttPfP2ad7Q8Oc
IkO9jcy7ZHrVP2oyCDYsO5dMocz6W/dlyfP+9jrzXAu2KE2Q/odMBB1JCP7iPLdgfKntguaf9148
gvn4Fe0zIMWn59yluEiU2wKC0ehQnL0P2euFOoEkiJ20PFcNEcSeQ2kLjovyF679iLv+3ej+uTTu
34e9e3qFH2syEPTxdzGUKZHf3EbuK8+h7+W/Pl+O04H2RIAlHaBPRJJsWjHqsVQdt2D6JrLv+Tx/
DorCsgIHiqD9/Ktr3eoq/saTWH/Lkez5mp/R+4vDcd3ljJ+TfSEB75KzV4LyVvlW6TioLROSSEPm
+ex4w/jZ+aGGUTlhZUfHB6a/WEnNBkTXJadjJUNOBP200JL5kIw3yqoDNh2sT0aS3qTK6kOMG3zb
4Eak37WvWfu37vOXY5HhhrOoIaL9iitq2uTei84k21Kk1N+AL2awhvJCV+Klcpwus6OSw+L03tcH
FY0rwG600M73gb+PwANG56raPARrOjB6Vy6N3VYZhzJ2uHldjPQqpcUDtpeJ3hIl0M3m+JQi7tFQ
dgudpZAxRzRWxuUC5l02vYNNwOZPriX78CPIZcg2RoEvsSTy7r0W2XsxmmJ3QBq2UHO2ehAKk/3S
pNVgP5CMjotqG0JTF4OjZ/Xy+BxCeqXgAuDY6slQ3Mq6aGddU90qMlFLWrqJyH0U7Hafi4bmrbrK
95y/jCj0mIu7dFc7TXtXnYmNjhJ2zqPz6E56b3240cSRiuwa4BmJk0pWqZ2YUjuquuxJEVRsvYzT
3Zj/3/KeORacOn2ngU/EtJ4SPhlNj3RR7Gz9Pxf5Dxg8FP82zdzZZpIgiElIxuvI+B+R9TdaZP+y
6fT3N8lPf38Gm7bgGxvo+cnf91Bk5yviR6Bjt25JaqvqjKJFLLcHmr+KMli5PuZh3YySB29YS/PG
HhotzIyP6mRJ18tZE6RJrttHnJ5a6a846ctKksYN7gP3lXA8/FKm4B7EQ5AJaGxvZHyoOCV14yBO
Wm6/4Bp61pyOhQFYqRmfe5uMd8jZQSY1JAcHlbVgem9rTZJ3A7H8tLy9W6F9mbwfdMUsavO7TDJm
e6ibgaKTTgJfou+A/bAg2yrn36SA6ybqNaUyItuJEgEQqKT4xDXEu4UedtgdRPpOLp//ztj42EiQ
DfBOlLJFnA9YuPJD23exG09i/U+OpGXvzYTjWcBw+bEmjTa8QY7XA0eDzZ+sZJz6KeuHOHwhTmo2
b2u8t4/k8+oaH3EEZjU/sKlQV4Ol/7KzYdgRto7gBrLtyvozwVYCJOEOddfmmUDl4RmHzCeLVakI
3Gdmf0X8WfBbn/G/L4w2bCznx/GRg0DgDBqKlP50KAs/+25c4kSoCAs65xgvFuMzpcgRjhbItY4c
7MWLDHs+4ulg+8c3L42zq1OkuEKvN/iCC+3skWy0oaEU4IF5u0CbfUepu4HTt2IFUa5EYbCDsc5N
C4Iof7XgZLBMVVk43R7uDNXaPZBsGcUo2J0y3Wlwn5M9EHlbT8BGZYNuG/SjlvNY4AEXn+xKmHOU
SmUyDbkWIu1paF+DQwTHAM+R2Ivk6DI9AaxTJmKtIowfeGfLsmO6K8oazkNbnRXcrcsB1L3mNJBD
lAko7IfXBwX/BJZN1Errtu0zh4ocd+V0TtWgLoNHvPgzjnuBB8GvM9RvshLmQqRQ3ufNuRxmczwc
ADrcZMcBBydqZ5Ovk96remTi0eWR3WLYam/ERQQMOlfVl7FKmlWf9KxeBlGyiSnpKZaxa3C8NC7p
l0bD7yJivWZLBIgn6SwmG8oecMNIo0jtmHVglknehCwxepY60useJcveuMjCLWZcDvbdym1rv7D+
jBXU+aDqOW8pAAoEjqeZbA2yV8ZuENIn93SQ1HBS5cDx0d0e+81TAzVTqAaGJr4Vz69Ba1TMfzfa
tIAFN5xW6xY+KXUTh/UPG6rgj2ZuDcY3a92WlNQ6zQo8fyDyF0Qdnd/NPvgAlglr3aJ/yIwYdz2r
l8ZN9SVw2WchVgp7hVU139Io6ZSUf8ikepjm7S6Lovf/4uKrf/yc1SsoNyxhwVmn1v2epc6bN0Hv
6uWAp6FjyEa7Wp4hsQLj1ZVEglSGJCXlSZjsnfT8wUXR8pa/PXzLwCEHRGMH788eb3jXjNhuzYQ2
AtCenFiMbmlR1+oDbkVcanCzeape+N2+QGtKyuOR5AhKsc/KIr/iFxdf/eOBQw6IRp+yL3t+7Asz
xhDMuBVJz/nL4laPClrsKIu4QKZXgQUykvpD9b6wTUmZNipxwx7xc8TlUUfnd4O+PkafcgB7fuwL
2C231LqN28yMnNg9q5dVwoYwz1MNXS7spRg5pUGKKSkVM0WSIxIBPzPTB/xY/rvZBx9g7OhnM3/F
qTNmZVVhxk7q3lUT+uUWsL8iXSH4Z7BcEqSVHrWn7IYoCT4xMwlh3ozvm+xyTLeUH1iCZULmfWrp
jNyHzMAmT9C3ehkgVAaVtcBytlpmb5cjG5srJfmHM/HWpKRsJ5P0rCqqC5h93gd2hXnuctRvQOi2
MtNWhI+houYQtmU2l3LuLHOc66Sx5NcpKbslBphY48p2dnZMd9W6PVP5vWY8vSuX4gNoLHrChqA5
lF7ljauQLUy+ZOrTSpntTNJgpyhv78fz1fFC1NVQzqCgPnMDt5dZM4m7LlqOSUShJyiVC8pmXmIu
WGNwVCrDmzKrqW4FhcnWW8TyqOy+VWiKBktjDhfUn+rCjjLjt4QV5p1/JflIZG9/hOycxvHONVd/
05xfIdM3zFczpi2N1UqZNSgR+jGZKS4YIeN0rWu+kUI0OD4c4G32GCuYRSusCg+ccgoLj3o6gxse
xLkC1jh+rEW8C3gdRlta9jxlNqBErTWp4DiM6dvm7VMU/Q9QBjmHSXWjFDpVzMpJK0H3sgvJH3MH
pb/uhzK+MxgPzpDxJhl7p5LLKTOWyWW4JExsNriRjH2UiHvLnXHBCFdWXWiwTzWzesL2rF4ay/6E
juFjN9P8mwVvl9OZ5jhYWGaSxlwq25tS78QbwGoZLvNIjwhdGTaEn8mUMqOGo2PV2lq3c5eyW0zS
vhUrGJsTMqcPxpv9M/F2oXAvpSJRZ9X8hd2iP1JmFkoSl6tFvkVk4i5zel//hSf/fM5FX0YeOldd
U+um7nJmjdP9yRAQjDsiB66Yv9Wwt5o4O66SXHlFSkp9spW7NTZWHw8y0cvaXnf3zxdc/IVqteHd
gd3jWwLrrj6d+Q8HDM8VCiJcmJkj4xhkH5BxDABKIuPTlVZKvVBxVwgk3YfnPIwfj/Y09jS0jdO0
1xDjXY20n3d1rVs6Lex2E7N31bK4MmtkNO5bstFHMkcosrcZvBWzOYkrPs1DTKk1Fal8TBpD/C8h
1xVL/o/5xqAYZEOGupvY86lbsHd/stZtnTZ2y0nZe9FSMg1lwrEs4VgGly0tMQWvwniLjOMm8hAr
FRjSFVfKNKFHieSLPwl9yby/2Tdl72MgTPJujHmXXFXr1k47u+1E1I0nwQv+xD1vfz/znvY3Bj/2
TJvznltPxPEmjBPA9oQk990mFfJLSdkFxEW6Y12kRHChx4yfIftCOcp8J+PKo83/vYmxV3aAGW0f
2r7K3LOFdBICPSvPIhgtU1xQIDfY3+5zDW9D9mYZBwMNSdaDKhXWa93elFlEnFYDceVlDEJM9+L5
eujCj+RLhY2lXIiTo3P17IlY31HSyZfgTzqJh155NK33bYZOh7ZwsOVYA3Y82DwMlwgNyVLDlTIV
VGJplPwAveb5ncvYheVxf6vLw+aDNtP5QAcLVn641q2tC3aLsIZtwd10E/uecg7yjuyP70dzW+7t
W/Yf/0rE+wV/FoosNlYmEgX5lJTtpRKpHj/54v2fBLL7gAt10e9eBtyakScwx6Fv/EJqrCaRGqzH
YETz5mHjRVq+8FXMc3MIL8JzNvBgrVuXMtN51HPO04W4xIX2Mp/XdfbZF8YSb9l0aj4eaa88is7L
rmLOZz5Ned+9mP8fK/COqBm6FbmPmYWvM/xlJusWmKgK0qarrZQnp6qsEFfQNm8li3Qd4jWIy39/
yR0PBOPO6zuP0LZqLb6/TNssT7PZEVI/zD9g46qllMxo9p7i+CIamh6Z5332ONBrMb0JLF852bFE
SrvWbU6pIyY51U3J4Y3jK076oiL9NndQbl3xvjJBOcAHov3S1LH+ZKSTaxvpX3MqZiWiqCmu1hPZ
gRC9SLgXYnZiJeg0LlVpaeDp7kxFcy3WMao41UeBn5rnB8rYT0e7M7cXWkMCFyE5Oi7e/WKqdoR0
Um0nvauWYWGEzwWUWwoUuocO9dnMP8s4HjgG2bykak9MGni6+xDfa1S5/QJDfYg7kf2MQN8cj9xv
CxmRz0U8vL6JQw4awN5/ba1bPmNIJ9IOoJNO4ic3nM4Jp3yQ/qfsQTHKki2EB+Ddm8H+CbQfYp6q
dkrVh22t256yC6iUKk2KZSb6L33yts7Q94n0+dxc3VkcCmjE07jmaoZWLaVldbqq2l7SCbST6EOn
8oOfzufoo/vIjBthoy22kt4urzeas4VgLUAm0ZVP1U5nE8m9TJIhACJgWNADfNVK7qN0lB+gN2C0
O0uuNWTB2tSRvjOkE2eK2HTlMhb8CjYfOM6cPTro/sv6pqZ5rf+K2Tvl7AgZjTa5blzi5UoLvs4o
KsfB1UJMca1SYbKyee6V02dK+dLnmgZbeov5cWxjHpsb0fGB2af+WQvSsIYpJmjIUhwaZ8+Pf3IE
+LxrHj7BO73KPJ8DBrZ6sar/lzIj0KQ/VUrm+bo8ryu73HMMfXSsdaS3nCthUTy9lEa9TBnpk32K
eeCUU9jnvNex8cPfojC3CYU5oqZSNlN0bT6IDjDshchei/E0VarApiutukaKk9/jw5TE+Mjulflv
WOS/TZl7fSbfm7XxYuSylHMloiAiEwVplPoUk06QXUTlobrxTR8j+5T7cRHkhjsotWzpNB8cIHQw
zr3A4MUSeyaxOrHTNtXjqi2V075qunslSsF6ED80+ImMu+Siv5f2e8GG3EO/htES/7fwHE7s+QiL
V6+u9TeYtaSTYproXnMa3iKCMIu5AFuSR+tKB5t0pEdHSxxj2FEYnXqUvUod9dOAJh3lauKXGAPI
7gD+gOkPFtodXLT2TiUFTtz4KMXDn8LCN52e3qBpIO3jaabn1FP5/+2dTYhcVRqGn/fcWz/d6XRX
J92JRlqJrmKUIM4QGKNGRARXbuJOl+4iiCKKCmNEXLgYZFazdRazcKvIwIwm/gRREf9FosREnUlS
naQSra7uqrrnncW91VUyoC7U6nTfZ1NwF6fuufXdt75zzveTHT1Nsv9y2FxFRFqNbjp9rvpHwT7E
HqOrha8C7cjLQ8CgsnfZLOPXZCRwSiN7TaIJnBA6LviIjLeqK7zTSZN2kvbxcoqiIFl/ff/WOqXh
j5nmoYewTLICcbLOvx97hjv+/MheOd6OudlBC8AceNZQHQn3KSgyP8oCg7+AoUABxd6hAfo2LaGz
2N86+KjF4fbO9Mj0sSwjCGVw8YsruPLAUXTPi+OeyIalNPI1Qrz1Vr586iDzLx8mTtQhiB92zLP5
+JnrqHCn8R2GXQqaNq7I1IA0f/+GS0iVkfVDRgM6h88HRAas2OoKd5C/sPWaeuGV5du2vlt/8wwW
OA3oms1wsr0um5JeipSGvQbxgQPw4j/hzps4/4fdkIAzQRZmXYl7SeJ+mVskbrRVyV/H3G2wBh7E
IEFkpJvd+vXCchkqcjlzVvfLB8d6gyaUXeFjwKu2Dvfa3Te337uvefrvr1Op1UmaHTyRAmzYMsRr
mXTcN1DyCwkRPtt+XrtP/8twBFFRksy6H2+S2Yu5kcAeYAr48V9R/qaOewa/M4VXZbqIT4H3QuRt
VXjbGd8BPVDvwonv+xOvvE86UYU47nsu+Tk2mhVfspx9/JE88aNiSCOOJi71SCdrk45sAk9iTyMW
SLQH6zrgeuTdtsIwq5FBRQlWL+XO19q3hSIgatV7ovCbihYhRWTIMZsPEB8T/BGRE1gXwEsh+oc3
Xsra++5Oi+FEb6nHZc89z/H77mPnCy+Me4YlP8PaN9KS/6P17KMQ8hpcsdPPY74coZaw5YnnOP/U
Q3PEsAW81biBdJlhAXyl0ALmKuMrgKmicexI7LaRB7HcQxUoGrr8NvYyWuVgNPpfg4+RbKa8amIP
8bXhP0JfI5/E/iaY/6LQctQi8jmm24u0pqKT3HVSNKEWVodvPFnm9V1qlIK1Tjh78CDxmw5h1xSq
JavHiJZpd2BySg0i22S2y2yPeF54m6VZUEN2A2iAGhYNwQx4CpOC8FC4GHaiGhrQ4NRyKHaFBzRy
PR+BUflhoIMeRGmKHmgZaGFaQMu4BbQkWqCWMjcdfMpRi0KnlGZnvp+54eymzucknS7RAck4zXAa
IQbmnvjLuH+ikl+BUrDWOa2nH0ZAL65Wi2BQBrPfDXSuTcLUV9m20M/mBHMOmndgXmhO9GeIoWGo
I+qguuUKpiZRh6KTECATgKpFZXT5KdMHuhbZjzVNbXBf1ophGdwXbkucg7AEajqjidx0jIuQNSvz
K83s1GTPlaFoCqEQUdZl9tBf8f796MiRcT/2kt+IUrA2IP7b/VDvgsziyXnUF8pi4REJh4FhRJRB
nJzk4l01tvzj4ky/3p2IK0kjrbPV+Y4agEPmCvZUTLVZI2ndoR+WHbjg4G6xwJQhM+kpwlInbdUv
VP708cXeh7uICsXZQJE0HItdKkfAhCpk9SqK+beWoQYbj1KwSn4SA5/YLDzwIHEmJaYZ7gWSalG3
oFjjhSzfJ4qJhss/GfUDBHAotsA86Eib4LBCslwhizWWNtWp9HrsOHRo3FMuWcP8D8YVwuLHuCXj
AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA3LTIzVDE1OjMzOjU5KzAyOjAwEIIMVwAAACV0RVh0
ZGF0ZTptb2RpZnkAMjAyMi0wNy0yM1QxNTozMzo1OSswMjowMGHftOsAAAAASUVORK5CYII=" />
</svg> 
        <% end %>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <%# <nav class="hidden md:flex space-x-10">
        <div class="relative">
          <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
          <button type="button" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-expanded="false">
            <span>Solutions</span>
            <!--
              Heroicon name: solid/chevron-down

              Item active: "text-gray-600", Item inactive: "text-gray-400"
            -->
            <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>

          <!--
            'Solutions' flyout menu, show/hide based on flyout menu state.

            Entering: "transition ease-out duration-200"
              From: "opacity-0 translate-y-1"
              To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
              From: "opacity-100 translate-y-0"
              To: "opacity-0 translate-y-1"
          -->
          <div class="absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/chart-bar -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Analytics</p>
                    <p class="mt-1 text-sm text-gray-500">Get a better understanding of where your traffic is coming from.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/cursor-click -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Engagement</p>
                    <p class="mt-1 text-sm text-gray-500">Speak directly to your customers in a more meaningful way.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/shield-check -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Security</p>
                    <p class="mt-1 text-sm text-gray-500">Your customers&#039; data will be safe and secure.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/view-grid -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Integrations</p>
                    <p class="mt-1 text-sm text-gray-500">Connect with third-party tools that you&#039;re already using.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/refresh -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Automations</p>
                    <p class="mt-1 text-sm text-gray-500">Build strategic funnels that will drive your customers to convert</p>
                  </div>
                </a>
              </div>
              <div class="px-5 py-5 bg-gray-50 space-y-6 sm:flex sm:space-y-0 sm:space-x-10 sm:px-8">
                <div class="flow-root">
                  <a href="#" class="-m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100">
                    <!-- Heroicon name: outline/play -->
                    <svg class="flex-shrink-0 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="ml-3">Watch Demo</span>
                  </a>
                </div>

                <div class="flow-root">
                  <a href="#" class="-m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100">
                    <!-- Heroicon name: outline/phone -->
                    <svg class="flex-shrink-0 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg>
                    <span class="ml-3">Contact Sales</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Pricing </a>
        <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Docs </a>

        <div class="relative">
          <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
          <button type="button" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-expanded="false">
            <span>More</span>
            <!--
              Heroicon name: solid/chevron-down

              Item active: "text-gray-600", Item inactive: "text-gray-400"
            -->
            <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>

          <!--
            'More' flyout menu, show/hide based on flyout menu state.

            Entering: "transition ease-out duration-200"
              From: "opacity-0 translate-y-1"
              To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
              From: "opacity-100 translate-y-0"
              To: "opacity-0 translate-y-1"
          -->
          <div class="absolute z-10 left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-md sm:px-0">
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/support -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Help Center</p>
                    <p class="mt-1 text-sm text-gray-500">Get all of your questions answered in our forums or contact support.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/bookmark-alt -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Guides</p>
                    <p class="mt-1 text-sm text-gray-500">Learn how to maximize our platform to get the most out of it.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/calendar -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Events</p>
                    <p class="mt-1 text-sm text-gray-500">See what meet-ups and other events we might be planning near you.</p>
                  </div>
                </a>

                <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
                  <!-- Heroicon name: outline/shield-check -->
                  <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>
                  <div class="ml-4">
                    <p class="text-base font-medium text-gray-900">Security</p>
                    <p class="mt-1 text-sm text-gray-500">Understand how we take your privacy seriously.</p>
                  </div>
                </a>
              </div>
              <div class="px-5 py-5 bg-gray-50 sm:px-8 sm:py-8">
                <div>
                  <h3 class="text-sm tracking-wide font-medium text-gray-500 uppercase">Recent Posts</h3>
                  <ul role="list" class="mt-4 space-y-4">
                    <li class="text-base truncate">
                      <a href="#" class="font-medium text-gray-900 hover:text-gray-700"> Boost your conversion rate </a>
                    </li>

                    <li class="text-base truncate">
                      <a href="#" class="font-medium text-gray-900 hover:text-gray-700"> How to use search engine optimization to drive traffic to your site </a>
                    </li>

                    <li class="text-base truncate">
                      <a href="#" class="font-medium text-gray-900 hover:text-gray-700"> Improve your customer experience </a>
                    </li>
                  </ul>
                </div>
                <div class="mt-5 text-sm">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500"> View all posts <span aria-hidden="true">&rarr;</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav> %>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
      <%= link_to new_user_session_path do %>
        <span class="sign_in_btn whitespace-nowrap text-base font-medium text-gray-900 hover:text-gray-900">Login</span>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <span class="sign_up_btn ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white ">Accedi</span>
      <% end %>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <%# <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          </div>
          <div class="-mr-2">
            <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6">
          <nav class="grid gap-y-8">
            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
              <!-- Heroicon name: outline/chart-bar -->
              <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
              </svg>
              <span class="ml-3 text-base font-medium text-gray-900"> Analytics </span>
            </a>

            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
              <!-- Heroicon name: outline/cursor-click -->
              <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
              </svg>
              <span class="ml-3 text-base font-medium text-gray-900"> Engagement </span>
            </a>

            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
              <!-- Heroicon name: outline/shield-check -->
              <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
              </svg>
              <span class="ml-3 text-base font-medium text-gray-900"> Security </span>
            </a>

            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
              <!-- Heroicon name: outline/view-grid -->
              <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
              </svg>
              <span class="ml-3 text-base font-medium text-gray-900"> Integrations </span>
            </a>

            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
              <!-- Heroicon name: outline/refresh -->
              <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
              </svg>
              <span class="ml-3 text-base font-medium text-gray-900"> Automations </span>
            </a>
          </nav>
        </div>
      </div>
      <div class="py-6 px-5 space-y-6">
        <div class="grid grid-cols-2 gap-y-4 gap-x-8">
          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Pricing </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Docs </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Help Center </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Guides </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Events </a>

          <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700"> Security </a>
        </div>
        <div>
          <a href="#" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Sign up </a>
          <p class="mt-6 text-center text-base font-medium text-gray-500">
            Existing customer?
            <a href="#" class="text-indigo-600 hover:text-indigo-500"> Sign in </a>
          </p>
        </div>
      </div>
    </div>
  </div> %>
</div>
